.download-bar__container {
  background: #FAFAFA;
  border: 1px solid #D5D5D5;
  border-radius: 3px;
  padding-right: 10px;
  .download-bar__column {
    position: relative;
  }
  .download-bar__icon {
    width: 28px;
    height: 28px;
    color: #54C6D3;
  }
  .download-bar__icon__badge {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 100%;
    background-color: #FDBF5A;
    font-size: 13px;
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: #ffffff;
    font-weight: 500;
  }
  .clip-icon-badge {left: 25px}
}