<!-- Load -->
<div
*ngIf="isLoading">
  <ion-progress-bar
  type="indeterminate">
  </ion-progress-bar>
</div>

<!-- Error -->
<div
*ngIf="!isLoading && isError"
class="download-bar__container">
  <ion-grid>
    <ion-row
    justify-content-center>
    {{'COMMON.SERVER-ERROR' | translate}}
    </ion-row>
  </ion-grid>
</div>

<!-- Data loaded and no error -->
<div
*ngIf="!isLoading && !isError && numBriefs != null && numAttachments != null"
class="download-bar__container">
<ion-grid>
  <ion-row
  justify-content-around>
    <ion-col
    class="download-bar__column"
    size="6"
    text-center
    (click)="showBriefs()">
      <img
      class="download-bar__icon"
      src="/assets/images/icons/document.svg">
      <span
      class="download-bar__icon__badge">
        {{ numBriefs }}
      </span>
    </ion-col>
    <ion-col
    class="download-bar__column" 
    size="6"
    text-center
    (click)="showAttachments()">
      <img
      class="download-bar__icon"
      src="/assets/images/icons/attach.svg">
      <span
      class="download-bar__icon__badge clip-icon-badge">
        {{ numAttachments }}
      </span>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
