<ion-header>
  <ion-toolbar
  mode="md"
  color="primary">
    <ion-buttons 
    slot="start">
      <ion-button 
      text="" 
      color="white" 
      
      [routerLink]="['/home']">
      <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title 
    color="white">{{'MY-MEDICATION.TITLE-HEADER' | translate}}
    </ion-title>
  </ion-toolbar>

  <ion-segment
    mode="md"
    class="segment"
    [(ngModel)]="selectedSegment"
  >
    <ion-segment-button
      [routerLink]="['/my-medication', 'overview']"
      [queryParams]="{}"
      class="segment__button"
      value="overview"
      mode="md"
    >
      <ion-label>{{'MY-MEDICATION.OVERVIEW' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button
      [routerLink]="['/my-medication', 'reminders']"
      [queryParams]="{}"
      class="segment__button"
      value="reminders"
      mode="md"
      checked
    >
      <ion-label>{{'MY-MEDICATION.REMINDERS' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="ion-no-padding">
  <router-outlet></router-outlet>
</ion-content>
