ion-header {background: #ffffff}
.segment-button-checked {
  background: #fff;
  border-bottom: 2px solid var(--ion-color-primary);
}
.segment {
  &__button {
    &:focus {
      outline: none;
    }
  }
  ion-segment-button {
    text-transform: initial;
    font-size: 16px;
    width: 50%;
  }
  ion-label {
    letter-spacing: 0px;
  }
}