ion-content {
    --overflow: hidden
}

.recover__container {
    height: 100vh;
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        color: #FFFFFF;
        &__field {
            margin-bottom: 16px;
            &__content {
                color: #333333;
                background-color: rgba(255, 255, 255, 0.5);
                width: 100%;
                text-align: center;
                border-radius: 3px;
                &__input {
                    font-size: 15px;
                    .native-input {
                        font-size: 15px;
                    }
                }
            }
            &__error {
                color: #000000;
                font-weight: 500;
            }
        }
    }
    &__buttons {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        ion-col {
            margin-bottom: 10px;
        }
        &__return {
            margin-top: 10px;
            font-size: 15px;
            text-align: right;
            font-family: roboto;
            &:focus {
                outline: none;
            }
        }
    }
}

ion-input {
    --padding-start: 0px;
    height: 46px;
    --font-size: 15px;
}

.recover__footer {
    ion-button {
        text-transform: initial;
        margin: 0;
        height: 60px;
        color: white;
        font-size: 20px;
    }
}