<ion-content>
  <ion-grid no-padding class="recover__container">
    <form
      class="recover__container__form" 
      [formGroup]="recoverForm" autocomplete="off"
    >
      <h5 class="ion-text-center recover__container__form__dialog">
        {{ 'RECOVER_PASSWORD.TITLE' | translate }}
      </h5>
      <div class="recover__container__form__field">
        <div class="recover__container__form__field__content">
          <ion-input
            class="recover__container__form__field__content__input"
            formControlName="email"
            placeholder="{{ 'RECOVER_PASSWORD.PLACEHOLDER' | translate }}"
          ></ion-input>
        </div>
        <div class="recover__container__form__field__error" *ngIf="email.hasError('validEmail') && (email.dirty || email.touched)">
          <small>{{ 'RECOVER_PASSWORD.NOT_VALID' | translate }}</small>
        </div>
      </div>
    </form>
    <ion-row no-padding class="recover__container__buttons">
      <ion-col size="12" no-padding>
        <ion-text color="white" class="recover__container__buttons__return" [routerLink]="['/login']">
          {{ 'RECOVER_PASSWORD.RETURN' | translate }}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="recover__footer">
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding size="12">
        <ion-button
          [disabled]="!recoverForm.valid"
          (click)="toRecover()"
          expand="full"
        >
          {{ 'RECOVER_PASSWORD.BUTTON' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
