<ion-content
padding
class="brief-selector-modal">
  <ion-grid>
    <ion-row
    class="brief-selector-modal__header">
      <ion-col
      size="11">
        <h5>{{ 'MEDICAL-ASSESSTMENT.BRIEF-SELECTOR-MODAL.TITLE' | translate }}</h5>
      </ion-col>
    </ion-row>
    <ion-row
    class="ion-no-padding brief-selector-modal__content"
    *ngFor="let brief of briefList">
      <ion-col
      (click)="showBriefDetails(brief)"
      size="11"
      class="brief-selector-modal__text">
        <p>{{ brief.title }}</p>
        <small>{{brief.date | date: 'mediumDate'}} - {{brief.date | date: 'shortTime'}}</small>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>