<div 
class="vital-signs-card">
  <ion-grid>

    <ion-row 
    class="vital-signs-card__header">
      <ion-col
      size="2">
        <div
        class="vital-signs-card__icon"
        [ngStyle]="styles.background">
          <span
          class="icon-bida-constantes"
          [ngStyle]="styles.icon">
          </span>
        </div>
      </ion-col>
      <ion-col
      size="10"
      class="vital-signs-card__title">
        <p class="category">
          {{ 'BASIC-DATA.VITAL-SIGNS.LABEL' | translate }}
        </p>
        <span 
        class="updated"
        *ngIf="vitalSignsShortList != null">
          ({{ 'COMMON.LAST-UPDATE' | translate }} {{ formatDate(vitalSignsList.lastUpdated) }})
        </span>
      </ion-col>
    </ion-row>

    <ion-row 
    class="vital-signs-card__list">
      <ion-col
      size="10"
      offset="2"
      *ngIf="vitalSignsShortList != null">
        <div 
        class="updated-label">
          {{ vitalSignsShortList.lastUpdatedLocal | date: 'dd/MM/yy' }} - {{ vitalSignsShortList.lastUpdatedLocal | date:'shortTime'}}
        </div>
        <ng-container
        *ngFor="let item of vitalSignsShortList.list">
          <ion-item
          *ngIf="item.value != null"
          class="vital-signs-card__list__item"
          no-padding>
          {{ item.key}}
            <span 
            slot="end"
            class="vital-signs-card__list__item__value">
            {{ item.value }}
            </span>
          </ion-item>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row
    *ngIf="vitalSignsShortList != null">
      <ion-col
      size="12">
        <ion-button
        *ngIf="true"
        size="small"
        fill="clear"
        float-right
        (click)="presentModalWithFullData()"
        class="vital-signs-card__list__button">
          {{ 'BASIC-DATA.COMMON.SHOW-ALL' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row
    class="vital-signs-card__no-data">
      <ng-container *ngIf="vitalSignsShortList === null">
        <ion-text>{{ 'COMMON.NO-DATA' | translate }}</ion-text>
      </ng-container>
    </ion-row>
  </ion-grid>
</div>
  