@import '../../../theme/common-styles.scss';

.vital-signs-card {
  @extend .bidafarma__card;
  padding: 20px 16px 10px 16px;
}
  
.vital-signs-card__header {
  border-bottom: 1px solid rgba(204, 204, 204, 0.6)
}
.vital-signs-card__icon {
  width: 40px;
  height: 40px;
  opacity: 1;
  border-radius: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 22px;
}
  
.vital-signs-card__title {
  p, span {margin: 0}
  margin-bottom: 5px;
  .category {
    font-weight: 300;
    font-size: 20px;
  }
  .updated {
    font-size: 12px;
    color: rgb(153, 153, 153);
  }
}
  
.vital-signs-card__list {
  padding-top: 5px;
  .updated-label {
    max-width: 120px;
    height: 25px;
    line-height: 25px;
    background-color: rgba(253, 191, 90, 1);
    color: white;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
  }
  .vital-signs-card__list__item {
    font-size: 14px;
    color: rgba(153, 153, 153, 1);
    &__value {
      color: rgb(0,0,0);
    }
  }
  .vital-signs-card__list__button {
    text-transform: uppercase;
  }
}

  .vital-signs-card__no-data {
    ion-text {
      font-size: 14px;
      padding: 5px;
      font-style: italic;
      color: #999999;
    }
  }