<ion-header>
  <ion-toolbar
  mode="md"
  color="primary">
    <ion-buttons 
    slot="start">
      <ion-back-button 
      text="" 
      color="white" 
      icon="arrow-back"
      defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title 
    color="white">{{'MY-HISTORY.MY-HISTORY' | translate}}
    </ion-title>
  </ion-toolbar>

  <ion-segment 
  mode="md"
  class="segment"
  [(ngModel)]="selected">
    <ion-segment-button
    value="medicalAssessments"
    mode="md"
    checked>
      <ion-label>{{'MY-HISTORY.MEDICALASSESSMENTS' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button
    value="basicData"
    mode="md">
      <ion-label>{{'MY-HISTORY.BASICDATA' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content no-padding [ngSwitch]="selected">
  <app-assesments *ngSwitchCase="'medicalAssessments'"></app-assesments>
  <app-basics *ngSwitchCase="'basicData'"></app-basics>
</ion-content>
