@import '../../../theme/common-styles.scss';

.single-med-card {
  @extend .bidafarma__card;
  padding: 20px 16px 20px 16px;
  &__col-bell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right:5px;
    i {font-size:18px}
  }
  &__col-name {
      margin: 0;
      letter-spacing: 0px;
      font-size: 16px;
      color: #333333;
      font-weight: 400px;
    }
  &__col-date {
    font-family: roboto-light;
    white-space: nowrap;
    margin: 5px 0 0 0;
    font-weight: 300;
    font-size: 13px;
    color: #333333;
    }
  &__col-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__col-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.yellow-bell {
  color: #FEAA0D;
}
.grey-bell {
  color: #CACACA;
}
