<div class="single-med-card">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <!-- Campanita -->
      <ion-col 
        size="1"
        class="ion-no-padding single-med-card__col-bell"
      >
        <em [ngClass]="{
          'icon-bell yellow-bell': active,
          'icon-bell-slash grey-bell': !active }"
        >
        </em>
      </ion-col>
      <!-- Nombre del recordatorio -->
      <ion-col 
        size="8"
        class="ion-no-padding single-med-card__col-info"
        (click)="showMedicationDetailsInModal(medItem)"
      >
        <p class="single-med-card__col-name">
          {{ medItem.name | titlecase }}
        </p>
        <p class="single-med-card__col-date" *ngIf="(medItem.textStatus === medicationState.ACTIVO || medItem.textStatus === medicationState.SUSPENDIDO) && medItem.startDate">
          {{ 'MY-MEDICATION.MEDICATION-START' | translate: { startDate: medItem.startDate | date:'dd/MM/yyyy' } }}
          <ng-container *ngIf="medItem.endDate">
            - {{ 'MY-MEDICATION.MEDICATION-END' | translate: { endDate: medItem.endDate | date:'dd/MM/yyyy' } }}
          </ng-container>
        </p>
        <p class="single-med-card__col-date" *ngIf="medItem.textStatus === medicationState.SIN_RECORDATORIO">
          {{ 'MY-MEDICATION.THERE-IS-NO-REMINDER' | translate }}
        </p>
        <p class="single-med-card__col-date" *ngIf="medItem.textStatus === medicationState.FINALIZADO"> 
          {{ medItem.textStatus | titlecase }}
        </p>
        <p class="single-med-card__col-date" *ngIf="medItem.textStatus === medicationState.ELIMINADO"> 
          {{ 'MY-MEDICATION.MEDICATION-DELETED' | translate }}
        </p>
      </ion-col>
      <!-- Botón toggle para activar o desactivar recordatorios -->
      <ion-col 
      class="ion-no-padding single-med-card__col-toggle">
        <ion-toggle
          [(ngModel)]="active"
          color="primary"
          mode="ios"
          (ionChange)="toggleReminders($event)"
          *ngIf="medItem.textStatus === medicationState.ACTIVO || medItem.textStatus === medicationState.SUSPENDIDO"
        >
        </ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
