ion-content {
    div.background {
        background-color: #F4F4F4;
        height: 100%;
    }
    .background__cards {
        background-color: #F4F4F4;
    }
    .orange-point {
        content: ' ';
        position: absolute;
        width: 6px;
        height: 6px;
        background: #FEAA0D;
        border-radius: 50%;
        left: calc(50% - 3px);
    }
}

.dates-container {
    border-bottom: 0.5px solid rgba(153, 153, 153, 0.3);
    // margin-bottom: 15px;
}

.datestring-container {
    border-bottom: 0.5px solid rgba(153, 153, 153, 0.4);
    &__date {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        margin: 0 13px;
        &__button {
            position: absolute;
            left: 0;
            ion-button {
                --ion-border: 1px solid #54C6D3;
                --opacity: 1;
                color: #008EA4;
                &:disabled, &[disabled] {
                    color: #999999;
                    --border-color: 1px solid #DEDEDE;
                }
            }
        }
    }
    .date {
        font-family: roboto-medium;
        color: rgba(0, 142, 164, 1);
        font-size: 16px;
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
    }
}

.weekdays-container {
    ion-col {
        margin-top: 5px;
        margin-bottom: 10px;
        p {
            font-weight: 400;
            color: rgba(153, 153, 153, 1);
            font-size: 14px;
        }
    }
}

.weekdays-number-container {
    padding-bottom: 20px;
    ion-col {
        p {
            font-size: 18px;
            position: relative;
        }
    }
    &__day {
        display: flex;
        flex-direction: column;
    }
}

.selected {
    position: absolute;
    top: -4px;
    text-align: center;
    content: '';
    max-width: 43px;
    min-width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 2px solid #6EC9D4;
    left: calc(50% - 21.5px);
}

.today {
    font-weight: 900;
    line-height: 1.2;
    color: #008EA4;
}