<ion-content class="ion-no-padding">
  <div class="background">
    <ng-container *ngIf="isLoading">
      <app-skeleton-screen></app-skeleton-screen>
    </ng-container>
    <!-- Primera barra superior con la fecha actual y un botón de volver a hoy, que aparece deshabilitado si el día es diferente a hoy -->
    <ng-container *ngIf="!isLoading">

      <div class="dates-container">
        <ion-grid class="ion-no-padding">
          <ion-row class="datestring-container">
            <ion-col class="datestring-container__date">
              <div class="datestring-container__date__button">
                <ion-button (click)="backToToday()" size="small" fill="outline" [disabled]="selectedDay.format('DD-MM-YYYY') === selectCircle.format('DD-MM-YYYY')">
                  {{ 'MY-MEDICATION.TODAY' | translate }}
                </ion-button>
              </div>
              <div class="date">{{ today }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- Segunda barra, con días de la semana y días en formato numérico -->
        <ion-grid
          (touchstart)="onCalendarTouchStart($event)"
          (touchmove)="onCalendarTouchMove($event)"
          (touchend)="onCalendarTouchEnd($event)"
        >
          <ion-row class="weekdays-container">
            <ion-col *ngFor="let weekDay of week" class="ion-text-center">
              <p class="ion-no-margin">{{ weekDay }}</p>
            </ion-col>
          </ion-row>
          <ion-row class="weekdays-number-container">
            <ion-col *ngFor="let day of dates" class="ion-text-center weekdays-number-container__day">
              <div class="weekdays-number-container__day__number" [ngClass]="{today: day.isToday}">
                <p 
                class="ion-no-margin"
                (click)="changeDay(day)">
                  {{ day.dayNumber.date() }}
                </p>
                <span [ngClass]="{'orange-point': day.thereIsATake }"></span>
                <span class="selected" *ngIf="day.dayNumber.format('DD-MM-YYYY') === selectCircle.format('DD-MM-YYYY')"></span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  
      <!-- Fichas de cada uno de los medicamentos que hay que tomar este día -->
      <div class="background__cards" *ngIf="takes && takes.length > 0">
        <app-medication-take-card
          *ngFor="let take of takes"
          [take]="take"
          (toSelectTake)="openModal(take)"
        ></app-medication-take-card>
      </div>
  
      <div *ngIf="!takes || takes.length <= 0">
        <app-empty-view
          message="{{ 'MY-MEDICATION.NO-CURRENT-TAKES' | translate }}"
          cssIconClass="icon-bida-medicacion"
          componentHeight="60">
        </app-empty-view>
      </div>
    </ng-container>
  </div>
</ion-content>
