.empty-view {
  // height: 81vh;
  background: #F7F7F7;
  position: relative;
  display: flex;
  justify-content: center;
  &__content {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  &__circle {
    width: 160px;
    height: 160px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.16);
    &__icon {
      color: rgba(179, 178, 180, 0.2);
      font-size: 85px;
      &::before {font-size: 85px !important}
    }
  }
  
  &__text {
    max-width: 220px;
    text-align: center;
    color: #CCCCCC;
    font-family: roboto-light;
    font-size: 20px;
  }
}
