<div class="empty-view"
  [ngStyle]="{'height': height}">
  <div class="empty-view__content">
    <div class="empty-view__circle">
      <span 
      class="empty-view__circle__icon {{cssIconClass}}"></span>
    </div>
    <h5 class="empty-view__text">{{message}}</h5>
  </div>
</div>
