<div class="single-appointment">
  <ion-grid>
    <!-- Indicador de próxima cita -->
    <ion-row
    class="single-appointment__next-appointment-row"
    *ngIf="appointment.isNearestElement">
    <ion-col
    class="single-appointment__next-appointment-label"
    size="4"
    text-center>
      {{ 'MY-APPOINTMENTS.IS-NEXT-APPOINTMENT' | translate }}
      </ion-col>
    </ion-row>
    <!-- Fila con la hora, la fecha y el icono de compartir -->
    <ion-row 
    class="single-appointment__date-share">
      <ion-col 
      class="hour"
      size="2"
      text-center>
        {{ appointment.time }}
      </ion-col>
      <ion-col
      size="8"
      class="date-string">
        {{ appointment.date | customDate }}
      </ion-col>
      <ion-col
      class="share"
      size="2"
      text-center
      (click)="onShareButtonClicked()">
        <ion-icon
        name="share"
        ios="md-share">
        </ion-icon>
      </ion-col>
      <!-- Fila con el icono de + y la localización -->
    </ion-row>

    <ion-row
      class="single-appointment__details">
      <ion-col
      size="2"
      text-center
      class="logo">
        <span 
        class="icon-bida-farma">
        </span>
      </ion-col>
      <ion-col
      size="10">
        <p class="especialidad">{{ appointment.speciality }}</p>
        <span class="localizacion">{{ appointment.hospital }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

