@import '../../../theme/common-styles.scss';

div.single-appointment {
  @extend .bidafarma__card;
  margin-bottom: 20px;
}

.single-appointment__next-appointment-row {
  transform: translate(-16px, -25px);
  .single-appointment__next-appointment-label {
    height: 29px;
    line-height: 19px;
    background-color: #FDBF5A;
    // padding: 5px 0;
    font-size: 13px;
    color: white;
    font-weight: bold;
  }
}
  
ion-row.single-appointment__date-share {
  color: #008EA4;
  font-size: 16px;
  .hour {
    font-weight: bold;
    white-space: nowrap;
  }
  .date-string {
    font-weight: 500;
    font-size: 16px;
  }
  .share {
    ion-icon {
      font-weight: 900;
      font-size: 22px;
    }
  }
}

ion-row.single-appointment__details {
  font-size: 13px;
  padding-bottom: 0;
  .logo {
    color: #54C6D3;
    font-size: 24px;
  }
  .especialidad {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .localizacion {
    color: #999999;
    font-size: 14px;
  }
  
}