 <ion-content>
  <ion-grid no-padding class="login__container">
    <form 
    class="login__form" 
    [formGroup]="loginForm" autocomplete="off">
      <h5 
      text-center 
      [hidden]="!user" 
      class="login__dialog">
        {{ 'LOGIN.WELCOME' | translate: {user: user} }}
      </h5>
      <h5 
      text-center 
      [hidden]="user" 
      class="login__dialog">
        {{ 'LOGIN.WELCOME-NO-USER' | translate }}
      </h5>
      <!-- Campo de formulario para nombre de usuario -->
      <div
      [hidden]="user" 
      class="login__form__field">
        <ion-input
        class="login__form__field__input"
        formControlName="mail" 
        placeholder="{{ 'COMMON.USERNAME' | translate }}">
        </ion-input>
      </div>
      <!-- Campo de formulario para contraseña -->
      <div class="login__form__field">
        <ion-item
        class="form_input"
        details="false" lines="none">
        <input
        formControlName="password"
        autocomplete="off"
        value="B!d4PhaRRPr0"
        placeholder="{{ 'COMMON.PASSWORD' | translate }}"
        [type]="passwordIsVisible ? 'text' : 'password'"/>
            <ion-icon
              slot="end"
              class="icon-eye1 form_input__icon"
              [ngClass]="{
                'icon-eye': !this.passwordIsVisible,
                'icon-eye-slash1': this.passwordIsVisible
              }"
              (click)="this.passwordIsVisible = !this.passwordIsVisible"
            >
            </ion-icon>
        </ion-item>
      </div>
    </form>
    <ion-row no-padding class="login__buttons">
      <ion-col
      size="12"
      no-padding>
        <ion-text
        color="white"
        class="login__user-switcher"
        [routerLink]="['/recover-password']"
        >
          {{ 'LOGIN.FORGET-PASSWORD' | translate }}
        </ion-text>
      </ion-col>
      <ion-col 
      size="12"
      no-padding>
        <ion-text
        color="white"
        class="login__user-switcher"
        (click)="userChange()"
        *ngIf="user">
          {{ 'LOGIN.NOT-ME' | translate }}
        </ion-text>
        <ion-text
        color="white"
        class="login__user-switcher"
        [routerLink]="'/register'"
        *ngIf="!user">
          {{ 'LOGIN.NOT-REGISTERED' | translate }}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="login__footer">
  <ion-grid
  no-padding>
    <ion-row>
      <ion-col 
      no-padding 
      size="12">
        <ion-button 
        [disabled]="!loginForm.valid" 
        (click)="onLogin()"
        expand="full">
          {{ 'LOGIN.ENTER' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
