ion-content {
    --overflow: hidden
}

.login__container {
    height: 100vh;
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
}

.form_input,
.form_input input {
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
    font-size: 15px;
    width: 100%;
    height: 48px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}
.form_input {
    &__icon {
        position: absolute;
        right: 10px;
        color: #008EA4;
        font-size: 19px;
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
    }
}

ion-item {
    --padding-start: 0px;
    --ion-background-color: transparent;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    color: #FFFFFF;
    &__field {
        color: #333333;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
        border-radius: 3px;
        &__input {
            font-size: 15px;
            .native-input {
                font-size: 15px;
            }
        }
    }
}

.login__user-switcher {
    margin-top: 10px;
    font-size: 15px;
    text-align: right;
    font-family: roboto;
    &:focus {
        outline: none;
    }
}

.login__buttons {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    ion-col {
        margin-bottom: 10px;
    }
}

ion-input {
    --padding-start: 0px;
    height: 46px;
    --font-size: 15px;
}

.login__footer {
    ion-button {
        text-transform: capitalize;
        margin: 0;
        height: 60px;
        color: white;
        font-size: 20px;
    }
}