<div
class="next-appointments">
  <!-- error screen -->
  <ng-container 
  *ngIf="!isLoading && isError">
    <app-empty-view 
    message="{{ 'COMMON.SERVER-ERROR' | translate }}" 
    cssIconClass="icon-remove"
    componentHeight="81">
    </app-empty-view>
  </ng-container>
  <!-- loading screen -->
  <ng-container 
  *ngIf="isLoading">
    <app-skeleton-screen></app-skeleton-screen>
  </ng-container>
  <!-- no data screen -->
  <ng-container 
  *ngIf="!isLoading && !isError && nextAppointmentElements.length === 0">
    <app-empty-view 
    message="{{ 'MY-APPOINTMENTS.NO-CURRENT-APPOINTMENTS' | translate }}" 
    cssIconClass="icon-bida-agenda"
    componentHeight="81">
    </app-empty-view>
  </ng-container>
  <!-- data screen -->
  <ng-container 
  *ngIf="!isLoading && !isError && nextAppointmentElements.length >= 1">
    <div 
    *ngFor="let appointment of nextAppointmentElements">
      <p
      class="next-appointments__month-label">
      {{appointment.month}}
      </p>
      <app-single-appointment
      *ngFor="let appointment of appointment.appointments"
      [appointment]="appointment">
      </app-single-appointment>
    </div>
  </ng-container>
</div>
