<ion-grid class="medication-take-card ion-no-padding" (click)="showMedicationTakeInModal()">
  <ion-row>
    <ion-col size="1.5" class="medication-take-card__label ion-no-padding">
      <span class="medication-take-card__label__circle" [ngClass]="{
        'medication-take-card__label__circle--taken': take.status === medicationTakeStatus.TAKEN,
        'medication-take-card__label__circle--rejected': take.status === medicationTakeStatus.REJECTED
      }">
        <em class="icon-bida-medicacion medication-take-card__label__circle__icon" [ngClass]="{
          'medication-take-card__label__circle__icon--taken icon-check': take.status === medicationTakeStatus.TAKEN,
          'medication-take-card__label__circle__icon--rejected icon-remove': take.status === medicationTakeStatus.REJECTED
        }"></em>
      </span>
    </ion-col>
    <ion-col size="6" class="ion-text-left">
      <p class="ion-no-margin medication-take-card__name">{{ take.medicationName }}</p>
      <p class="medication-take-card__posology"> {{ 'MY-MEDICATION.MEDICATION-CALENDAR.TAKE-DESCRIPTION' | translate }} {{ take.posology | lowercase}}</p>
      <p class="medication-take-card__time">
        <em class="icon-clock-o medication-take-card__time__icon"></em>
        <span class="medication-take-card__time__number">
          {{ take.time }}
        </span>
        <span class="medication-take-card__time__status medication-take-card__time__status--taken" *ngIf="take.status === medicationTakeStatus.TAKEN">
          {{ 'MY-MEDICATION.MEDICATION-CALENDAR.TAKEN' | translate }}
        </span>
        <span class="medication-take-card__time__status medication-take-card__time__status--reject" *ngIf="take.status === medicationTakeStatus.REJECTED">
          {{ 'MY-MEDICATION.MEDICATION-CALENDAR.REJECT' | translate }}
        </span>
      </p>
    </ion-col>
    <ion-col size="3" class="ion-text-center ion-justify-content-end">
      <ng-container *ngIf="take.medicationStatus === medicationState.SUSPENDIDO">
        <ion-button size="small" fill="outline" color="medium" disabled class="medication-take-card__button">
          {{ 'MY-MEDICATION.SUSPENDED' | translate }}
        </ion-button>
      </ng-container>
      <ng-container *ngIf="take.medicationStatus === medicationState.ELIMINADO">
        <ion-button size="small" fill="outline" color="medium" disabled class="medication-take-card__button">
          {{ 'MY-MEDICATION.DELETED' | translate }}
        </ion-button>
      </ng-container>
    </ion-col>
  </ion-row> 
</ion-grid>