.medication-take-card {
  background-color: #fff;
  min-height: 100px;
  padding: 13px 0;
  box-shadow: 4px 4px 5px #0000001F;
  margin-bottom: 15px;

  &__label {
    position: relative;
    margin-left: 22px;
    width: 38px;
    &__circle {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background: rgba(171, 72, 229, 0.07);
      &--taken {
        background: rgba(65, 175, 81, 0.1);
      }
      &--rejected {
        background: rgba(232, 26, 76, 0.1);
      }
      &__icon {
        color: #AB48E5;
        &--taken {
          color: #41AF51;
        }
        &--rejected {
          color: #E81A4C;
        }
      }
    }
  }
  &__posology {
    font-family: roboto-light;
    font-size: 15px;
    color: #999999;
    margin: 5px 0 0 0;
  }
  &__name {
    color: #333333;
    font-size: 16px;
  }
  ion-button {
    --padding-start: 7px;
    --padding-end: 7px;
  }
  &__time {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 2px !important;
    &__number {
      font-family: roboto-medium;
    }
    &__icon {
      margin: 0 5px 2px 0;
    }
    &__status {
      font-size: 12px;
      font-family: roboto-medium;
      white-space: nowrap;
      margin-left: 6px;
      &--taken {
        color: #41AF51;
      }
      &--reject {
        color: #E81A4C;
      }
    }
  }
  &__button {
    --opacity: 1;
    --border-color: 1px solid #CACACA;
    color: #999999;
    &:disabled, &[disabled] {
      color: #999999;
      --border-color: 1px solid #DEDEDE;
    }
  }
}
