.brief-modal__title {
  padding: 16px 30px 8px 40px;
  border: 1px solid #EAEAEA;
  h5, span {
    margin: 0;
    margin-bottom: 5px;
  }
  h5 {font-size: 15px}
  span {
    display: block;
    font-size: 13px;
    color: #999999;
  }
}
.brief-modal__list {
  padding: 16px 30px 0 40px;
}

.brief-modal__list__item {
  margin-bottom: 15px;
  .item__label, .item__value {margin: 0}
  .item__label {
    font-size: 13px;
    color: #999999;
  }
  .item__value {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.9);
  }
}

.brief-modal__attachment {
  padding-left: 22px;
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
}
.attachment-text {
  &__title {
    margin: 0;
    padding-left: 5px;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
  }
}

