<ion-header>
    <ion-toolbar
    mode="md"
    color="primary">
      <ion-buttons 
      slot="start">
        <ion-button
        (click)="closeModal()">
          <ion-icon
          name="close"
          color="white">
          </ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title 
      color="white">{{'MEDICAL-ASSESSTMENT.TITLE-MEDICAL-ASSESSMENT' | translate}}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content
  class="brief-modal">
    <!-- Title -->
    <div class="brief-modal__title ion-padding">
      <h5>{{ brief.title }}</h5>
      <span>{{ brief.hospitalDestino }}</span>
      <span>{{brief.date | date: 'mediumDate'}} - {{brief.date | date: 'shortTime'}}</span>
    </div>

    <!-- Brief body -->
    <div 
    class="brief-modal__list">
      <div 
      *ngFor="let field of brief.fields | keyvalue: originalOrder"
      class="brief-modal__list__item">
        <p
        class="item__label">
          {{field.key }}
        </p>
        <p
        class="item__value">
          {{field.value}}
        </p>
      </div>
    </div>

    <!-- Attachments -->
    <div
    class="brief-modal__attachment"
    *ngFor="let attachment of brief.attachment">
      <ion-grid>
        <ion-row (click)="download(attachment)">
          <ion-col
          size="1">
            <ion-icon
            size="large"
            name="attach"
            color="primary">
            </ion-icon>
          </ion-col>
          <ion-col
          size="9"
          class="attachment-text">
            <p 
            class="attachment-text__title">
            {{attachment.fileName}}.{{attachment.fileExtension}}
            </p>
          </ion-col>
          <ion-col
          size="2"
          text-left
          align-self-center>
            <ion-icon
            name="arrow-forward"
            md="ios-arrow-forward">
          </ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

