<ion-header>
  <ion-toolbar
  mode="md"
  color="primary">
    <ion-buttons 
    slot="start">
      <ion-button
      (click)="closeModal()">
        <ion-icon
        name="close"
        color="white">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title 
    color="white">{{'BASIC-DATA.VITAL-SIGNS.LABEL' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
class="vital-signs-modal">
  <ion-grid>
    <ion-row
    class="last-updated">
      <ion-col
      size="8"
      offset="1">
        ({{'COMMON.LAST-UPDATE' | translate}} {{vitalSignsList.lastUpdated | customDate:'short' }})
      </ion-col>
    </ion-row>
    <ion-row 
    *ngFor="let item of vitalSignsArray"
    class="vital-signs-modal__list">
      <ion-col
      size="10"
      offset="1">
        <div
        class="vital-signs-modal__list__updated-label">
          {{item.lastUpdatedLocal | date: 'dd/MM/yy' }} - {{item.lastUpdatedLocal | date: 'shortTime'}} 
        </div>
      </ion-col>
      <ion-col
      size="10"
      offset="1">
        <ng-container
        *ngFor="let listItem of item.list">
          <ion-item
          *ngIf="listItem.value != null"
          no-padding
          class="vital-signs-modal__list__item">
            {{ listItem.key }}
            <span
            slot="end">
              {{ listItem.value }}
            </span>
          </ion-item>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>