.vital-signs-modal {
  .last-updated {
    font-size: 12px;
    color: #999999;
    margin-bottom: 14px;
  }
}

.vital-signs-modal__list {
  padding-top: 15px;
  &__updated-label {
    max-width: 120px;
    height: 25px;
    line-height: 25px;
    background-color: rgba(253,191,90,1);
    color: white;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
  }
  &__item {
    font-size: 14px;
    color: #999999;
    span {color: #000000}
  }
}