@font-face {
    font-family: 'bida-fuente';
    src: url('./assets/fonts/bida-fuente.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bida-fuente' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-bida-adjunto:before {
    content: "\e900";
  }
  .icon-bida-agenda:before {
    content: "\e901";
  }
  .icon-bida-alergias:before {
    content: "\e902";
  }
  .icon-bida-constantes:before {
    content: "\e903";
  }
  .icon-bida-contraindicaciones:before {
    content: "\e904";
  }
  .icon-bida-farma:before {
    content: "\e905";
  }
  .icon-bida-historia:before {
    content: "\e906";
  }
  .icon-bida-info:before {
    content: "\e907";
  }
  .icon-bida-medicacion:before {
    content: "\e908";
  }
  .icon-bida-phone:before {
    content: "\e909";
  }
  .icon-bida-red:before {
    content: "\e90a";
  }
  .icon-glass1:before {
    content: "\f00f";
  }
  .icon-music1:before {
    content: "\f01f";
  }
  .icon-search1:before {
    content: "\f020";
  }
  .icon-envelope-o1:before {
    content: "\f03f";
  }
  .icon-heart1:before {
    content: "\f04f";
  }
  .icon-star1:before {
    content: "\f05f";
  }
  .icon-star-o1:before {
    content: "\f06f";
  }
  .icon-user1:before {
    content: "\f07f";
  }
  .icon-film1:before {
    content: "\f08f";
  }
  .icon-th-large1:before {
    content: "\f09f";
  }
  .icon-th1:before {
    content: "\f0af";
  }
  .icon-th-list1:before {
    content: "\f0b3";
  }
  .icon-check1:before {
    content: "\f0b4";
  }
  .icon-close1:before {
    content: "\f0b5";
  }
  .icon-search-plus1:before {
    content: "\f0b6";
  }
  .icon-search-minus1:before {
    content: "\f0b7";
  }
  .icon-power-off1:before {
    content: "\f0b8";
  }
  .icon-signal1:before {
    content: "\f0b9";
  }
  .icon-cog1:before {
    content: "\f0ba";
  }
  .icon-trash-o1:before {
    content: "\f0bb";
  }
  .icon-home1:before {
    content: "\f0bc";
  }
  .icon-file-o1:before {
    content: "\f0bd";
  }
  .icon-clock-o1:before {
    content: "\f0be";
  }
  .icon-road1:before {
    content: "\f0bf";
  }
  .icon-download1:before {
    content: "\f0cf";
  }
  .icon-arrow-circle-o-down1:before {
    content: "\f0df";
  }
  .icon-arrow-circle-o-up1:before {
    content: "\f0ef";
  }
  .icon-inbox1:before {
    content: "\f0ff";
  }
  .icon-play-circle-o1:before {
    content: "\f10f";
  }
  .icon-repeat1:before {
    content: "\f116";
  }
  .icon-refresh1:before {
    content: "\f117";
  }
  .icon-list-alt1:before {
    content: "\f11f";
  }
  .icon-lock1:before {
    content: "\f12f";
  }
  .icon-flag1:before {
    content: "\f13f";
  }
  .icon-headphones1:before {
    content: "\f14f";
  }
  .icon-volume-off1:before {
    content: "\f15f";
  }
  .icon-volume-down1:before {
    content: "\f16f";
  }
  .icon-volume-up1:before {
    content: "\f17f";
  }
  .icon-qrcode1:before {
    content: "\f18f";
  }
  .icon-barcode1:before {
    content: "\f19f";
  }
  .icon-tag1:before {
    content: "\f1af";
  }
  .icon-tags1:before {
    content: "\f1bf";
  }
  .icon-book1:before {
    content: "\f1cf";
  }
  .icon-bookmark1:before {
    content: "\f1df";
  }
  .icon-print1:before {
    content: "\f1ef";
  }
  .icon-camera1:before {
    content: "\f1ff";
  }
  .icon-font1:before {
    content: "\f20f";
  }
  .icon-bold1:before {
    content: "\f21f";
  }
  .icon-italic1:before {
    content: "\f220";
  }
  .icon-text-height1:before {
    content: "\f22e";
  }
  .icon-text-width1:before {
    content: "\f22f";
  }
  .icon-align-left1:before {
    content: "\f23f";
  }
  .icon-align-center1:before {
    content: "\f24f";
  }
  .icon-align-right1:before {
    content: "\f25f";
  }
  .icon-align-justify1:before {
    content: "\f26f";
  }
  .icon-list1:before {
    content: "\f27f";
  }
  .icon-dedent1:before {
    content: "\f28f";
  }
  .icon-indent1:before {
    content: "\f29f";
  }
  .icon-video-camera1:before {
    content: "\f2af";
  }
  .icon-image1:before {
    content: "\f2bf";
  }
  .icon-pencil1:before {
    content: "\f2cf";
  }
  .icon-map-marker1:before {
    content: "\f2df";
  }
  .icon-adjust1:before {
    content: "\f2e1";
  }
  .icon-tint1:before {
    content: "\f2e2";
  }
  .icon-edit1:before {
    content: "\f2e3";
  }
  .icon-share-square-o1:before {
    content: "\f2e4";
  }
  .icon-check-square-o1:before {
    content: "\f2e5";
  }
  .icon-arrows1:before {
    content: "\f2e6";
  }
  .icon-step-backward1:before {
    content: "\f2e7";
  }
  .icon-fast-backward1:before {
    content: "\f2e8";
  }
  .icon-backward1:before {
    content: "\f2e9";
  }
  .icon-play1:before {
    content: "\f2ea";
  }
  .icon-pause1:before {
    content: "\f2eb";
  }
  .icon-stop1:before {
    content: "\f2ec";
  }
  .icon-forward1:before {
    content: "\f2ed";
  }
  .icon-fast-forward1:before {
    content: "\f2ee";
  }
  .icon-step-forward1:before {
    content: "\f2ef";
  }
  .icon-eject1:before {
    content: "\f2f0";
  }
  .icon-chevron-left1:before {
    content: "\f2f1";
  }
  .icon-chevron-right1:before {
    content: "\f2f2";
  }
  .icon-plus-circle1:before {
    content: "\f2f3";
  }
  .icon-minus-circle1:before {
    content: "\f2f4";
  }
  .icon-times-circle1:before {
    content: "\f2f5";
  }
  .icon-check-circle1:before {
    content: "\f2f6";
  }
  .icon-question-circle1:before {
    content: "\f2f7";
  }
  .icon-info-circle1:before {
    content: "\f2f8";
  }
  .icon-crosshairs1:before {
    content: "\f2f9";
  }
  .icon-times-circle-o1:before {
    content: "\f2fa";
  }
  .icon-check-circle-o1:before {
    content: "\f2fb";
  }
  .icon-ban1:before {
    content: "\f2fc";
  }
  .icon-arrow-left1:before {
    content: "\f2fd";
  }
  .icon-arrow-right1:before {
    content: "\f2fe";
  }
  .icon-arrow-up1:before {
    content: "\f2ff";
  }
  .icon-arrow-down1:before {
    content: "\f300";
  }
  .icon-mail-forward1:before {
    content: "\f301";
  }
  .icon-expand1:before {
    content: "\f302";
  }
  .icon-compress1:before {
    content: "\f303";
  }
  .icon-plus1:before {
    content: "\f304";
  }
  .icon-minus1:before {
    content: "\f305";
  }
  .icon-asterisk1:before {
    content: "\f306";
  }
  .icon-exclamation-circle1:before {
    content: "\f307";
  }
  .icon-gift1:before {
    content: "\f308";
  }
  .icon-leaf1:before {
    content: "\f309";
  }
  .icon-fire1:before {
    content: "\f30a";
  }
  .icon-eye1:before {
    content: "\f30b";
  }
  .icon-eye-slash1:before {
    content: "\f30c";
  }
  .icon-exclamation-triangle1:before {
    content: "\f30d";
  }
  .icon-plane1:before {
    content: "\f30e";
  }
  .icon-calendar1:before {
    content: "\f30f";
  }
  .icon-random1:before {
    content: "\f310";
  }
  .icon-comment1:before {
    content: "\f311";
  }
  .icon-magnet1:before {
    content: "\f312";
  }
  .icon-chevron-up1:before {
    content: "\f313";
  }
  .icon-chevron-down1:before {
    content: "\f314";
  }
  .icon-retweet1:before {
    content: "\f315";
  }
  .icon-shopping-cart1:before {
    content: "\f316";
  }
  .icon-folder1:before {
    content: "\f317";
  }
  .icon-folder-open1:before {
    content: "\f318";
  }
  .icon-arrows-v1:before {
    content: "\f319";
  }
  .icon-arrows-h1:before {
    content: "\f31a";
  }
  .icon-bar-chart1:before {
    content: "\f31b";
  }
  .icon-twitter-square1:before {
    content: "\f31c";
  }
  .icon-facebook-square1:before {
    content: "\f31d";
  }
  .icon-camera-retro1:before {
    content: "\f31e";
  }
  .icon-key1:before {
    content: "\f31f";
  }
  .icon-cogs1:before {
    content: "\f320";
  }
  .icon-comments1:before {
    content: "\f321";
  }
  .icon-thumbs-o-up1:before {
    content: "\f322";
  }
  .icon-thumbs-o-down1:before {
    content: "\f323";
  }
  .icon-star-half1:before {
    content: "\f324";
  }
  .icon-heart-o1:before {
    content: "\f325";
  }
  .icon-sign-out1:before {
    content: "\f326";
  }
  .icon-linkedin-square1:before {
    content: "\f327";
  }
  .icon-thumb-tack1:before {
    content: "\f328";
  }
  .icon-external-link1:before {
    content: "\f329";
  }
  .icon-sign-in1:before {
    content: "\f32a";
  }
  .icon-trophy1:before {
    content: "\f32b";
  }
  .icon-github-square1:before {
    content: "\f32c";
  }
  .icon-upload1:before {
    content: "\f32d";
  }
  .icon-lemon-o1:before {
    content: "\f32e";
  }
  .icon-phone1:before {
    content: "\f32f";
  }
  .icon-square-o1:before {
    content: "\f330";
  }
  .icon-bookmark-o1:before {
    content: "\f331";
  }
  .icon-phone-square1:before {
    content: "\f332";
  }
  .icon-twitter1:before {
    content: "\f333";
  }
  .icon-facebook1:before {
    content: "\f334";
  }
  .icon-github1:before {
    content: "\f335";
  }
  .icon-unlock1:before {
    content: "\f336";
  }
  .icon-credit-card1:before {
    content: "\f337";
  }
  .icon-feed1:before {
    content: "\f338";
  }
  .icon-hdd-o1:before {
    content: "\f339";
  }
  .icon-bullhorn1:before {
    content: "\f33a";
  }
  .icon-bell-o1:before {
    content: "\f33b";
  }
  .icon-certificate1:before {
    content: "\f33c";
  }
  .icon-hand-o-right1:before {
    content: "\f33d";
  }
  .icon-hand-o-left1:before {
    content: "\f33e";
  }
  .icon-hand-o-up1:before {
    content: "\f33f";
  }
  .icon-hand-o-down1:before {
    content: "\f340";
  }
  .icon-arrow-circle-left1:before {
    content: "\f341";
  }
  .icon-arrow-circle-right1:before {
    content: "\f342";
  }
  .icon-arrow-circle-up1:before {
    content: "\f343";
  }
  .icon-arrow-circle-down1:before {
    content: "\f344";
  }
  .icon-globe1:before {
    content: "\f345";
  }
  .icon-wrench1:before {
    content: "\f346";
  }
  .icon-tasks1:before {
    content: "\f347";
  }
  .icon-filter1:before {
    content: "\f348";
  }
  .icon-briefcase1:before {
    content: "\f349";
  }
  .icon-arrows-alt1:before {
    content: "\f34a";
  }
  .icon-group1:before {
    content: "\f34b";
  }
  .icon-chain1:before {
    content: "\f34c";
  }
  .icon-cloud1:before {
    content: "\f34d";
  }
  .icon-flask1:before {
    content: "\f34e";
  }
  .icon-cut1:before {
    content: "\f34f";
  }
  .icon-copy1:before {
    content: "\f350";
  }
  .icon-paperclip1:before {
    content: "\f351";
  }
  .icon-floppy-o1:before {
    content: "\f352";
  }
  .icon-square1:before {
    content: "\f353";
  }
  .icon-bars1:before {
    content: "\f354";
  }
  .icon-list-ul1:before {
    content: "\f355";
  }
  .icon-list-ol1:before {
    content: "\f356";
  }
  .icon-strikethrough1:before {
    content: "\f357";
  }
  .icon-underline1:before {
    content: "\f358";
  }
  .icon-table1:before {
    content: "\f359";
  }
  .icon-magic1:before {
    content: "\f35a";
  }
  .icon-truck1:before {
    content: "\f35b";
  }
  .icon-pinterest1:before {
    content: "\f35c";
  }
  .icon-pinterest-square1:before {
    content: "\f35d";
  }
  .icon-google-plus-square1:before {
    content: "\f35e";
  }
  .icon-google-plus1:before {
    content: "\f35f";
  }
  .icon-money1:before {
    content: "\f360";
  }
  .icon-caret-down1:before {
    content: "\f361";
  }
  .icon-caret-up1:before {
    content: "\f362";
  }
  .icon-caret-left1:before {
    content: "\f363";
  }
  .icon-caret-right1:before {
    content: "\f364";
  }
  .icon-columns1:before {
    content: "\f365";
  }
  .icon-sort1:before {
    content: "\f366";
  }
  .icon-sort-desc1:before {
    content: "\f367";
  }
  .icon-sort-asc1:before {
    content: "\f368";
  }
  .icon-envelope1:before {
    content: "\f369";
  }
  .icon-linkedin1:before {
    content: "\f36a";
  }
  .icon-rotate-left1:before {
    content: "\f36b";
  }
  .icon-gavel1:before {
    content: "\f36c";
  }
  .icon-dashboard1:before {
    content: "\f36d";
  }
  .icon-comment-o1:before {
    content: "\f36e";
  }
  .icon-comments-o1:before {
    content: "\f36f";
  }
  .icon-bolt1:before {
    content: "\f370";
  }
  .icon-sitemap1:before {
    content: "\f371";
  }
  .icon-umbrella1:before {
    content: "\f372";
  }
  .icon-clipboard1:before {
    content: "\f373";
  }
  .icon-lightbulb-o1:before {
    content: "\f374";
  }
  .icon-exchange1:before {
    content: "\f375";
  }
  .icon-cloud-download1:before {
    content: "\f376";
  }
  .icon-cloud-upload1:before {
    content: "\f377";
  }
  .icon-user-md1:before {
    content: "\f378";
  }
  .icon-stethoscope1:before {
    content: "\f379";
  }
  .icon-suitcase1:before {
    content: "\f37a";
  }
  .icon-bell1:before {
    content: "\f37b";
  }
  .icon-coffee1:before {
    content: "\f37c";
  }
  .icon-cutlery1:before {
    content: "\f37d";
  }
  .icon-file-text-o1:before {
    content: "\f37e";
  }
  .icon-building-o1:before {
    content: "\f37f";
  }
  .icon-hospital-o1:before {
    content: "\f380";
  }
  .icon-ambulance1:before {
    content: "\f381";
  }
  .icon-medkit1:before {
    content: "\f382";
  }
  .icon-fighter-jet1:before {
    content: "\f383";
  }
  .icon-beer1:before {
    content: "\f384";
  }
  .icon-h-square1:before {
    content: "\f385";
  }
  .icon-plus-square1:before {
    content: "\f386";
  }
  .icon-angle-double-left1:before {
    content: "\f387";
  }
  .icon-angle-double-right1:before {
    content: "\f388";
  }
  .icon-angle-double-up1:before {
    content: "\f389";
  }
  .icon-angle-double-down1:before {
    content: "\f38a";
  }
  .icon-angle-left1:before {
    content: "\f38b";
  }
  .icon-angle-right1:before {
    content: "\f38c";
  }
  .icon-angle-up1:before {
    content: "\f38d";
  }
  .icon-angle-down1:before {
    content: "\f38e";
  }
  .icon-desktop1:before {
    content: "\f38f";
  }
  .icon-laptop1:before {
    content: "\f390";
  }
  .icon-tablet1:before {
    content: "\f391";
  }
  .icon-mobile1:before {
    content: "\f392";
  }
  .icon-circle-o1:before {
    content: "\f393";
  }
  .icon-quote-left1:before {
    content: "\f394";
  }
  .icon-quote-right1:before {
    content: "\f395";
  }
  .icon-spinner1:before {
    content: "\f396";
  }
  .icon-circle1:before {
    content: "\f397";
  }
  .icon-mail-reply1:before {
    content: "\f398";
  }
  .icon-github-alt1:before {
    content: "\f399";
  }
  .icon-folder-o1:before {
    content: "\f39a";
  }
  .icon-folder-open-o1:before {
    content: "\f39b";
  }
  .icon-smile-o1:before {
    content: "\f39c";
  }
  .icon-frown-o1:before {
    content: "\f39d";
  }
  .icon-meh-o1:before {
    content: "\f39e";
  }
  .icon-gamepad1:before {
    content: "\f39f";
  }
  .icon-keyboard-o1:before {
    content: "\f3a0";
  }
  .icon-flag-o1:before {
    content: "\f3a1";
  }
  .icon-flag-checkered1:before {
    content: "\f3a2";
  }
  .icon-terminal1:before {
    content: "\f3a3";
  }
  .icon-code1:before {
    content: "\f3a4";
  }
  .icon-mail-reply-all1:before {
    content: "\f3a5";
  }
  .icon-star-half-empty1:before {
    content: "\f3a6";
  }
  .icon-location-arrow1:before {
    content: "\f3a7";
  }
  .icon-crop1:before {
    content: "\f3a8";
  }
  .icon-code-fork1:before {
    content: "\f3a9";
  }
  .icon-chain-broken1:before {
    content: "\f3aa";
  }
  .icon-question1:before {
    content: "\f3ab";
  }
  .icon-info1:before {
    content: "\f3ac";
  }
  .icon-exclamation1:before {
    content: "\f3ad";
  }
  .icon-superscript1:before {
    content: "\f3ae";
  }
  .icon-subscript1:before {
    content: "\f3af";
  }
  .icon-eraser1:before {
    content: "\f3b0";
  }
  .icon-puzzle-piece1:before {
    content: "\f3b1";
  }
  .icon-microphone1:before {
    content: "\f3b2";
  }
  .icon-microphone-slash1:before {
    content: "\f3b3";
  }
  .icon-shield1:before {
    content: "\f3b4";
  }
  .icon-calendar-o1:before {
    content: "\f3b5";
  }
  .icon-fire-extinguisher1:before {
    content: "\f3b6";
  }
  .icon-rocket1:before {
    content: "\f3b7";
  }
  .icon-maxcdn1:before {
    content: "\f3b8";
  }
  .icon-chevron-circle-left1:before {
    content: "\f3b9";
  }
  .icon-chevron-circle-right1:before {
    content: "\f3ba";
  }
  .icon-chevron-circle-up1:before {
    content: "\f3bb";
  }
  .icon-chevron-circle-down1:before {
    content: "\f3bc";
  }
  .icon-html51:before {
    content: "\f3bd";
  }
  .icon-css31:before {
    content: "\f3be";
  }
  .icon-anchor1:before {
    content: "\f3bf";
  }
  .icon-unlock-alt1:before {
    content: "\f3c0";
  }
  .icon-bullseye1:before {
    content: "\f3c1";
  }
  .icon-ellipsis-h1:before {
    content: "\f3c2";
  }
  .icon-ellipsis-v1:before {
    content: "\f3c3";
  }
  .icon-rss-square1:before {
    content: "\f3c4";
  }
  .icon-play-circle1:before {
    content: "\f3c5";
  }
  .icon-ticket1:before {
    content: "\f3c6";
  }
  .icon-minus-square1:before {
    content: "\f3c7";
  }
  .icon-minus-square-o1:before {
    content: "\f3c8";
  }
  .icon-level-up1:before {
    content: "\f3c9";
  }
  .icon-level-down1:before {
    content: "\f3ca";
  }
  .icon-check-square1:before {
    content: "\f3cb";
  }
  .icon-pencil-square1:before {
    content: "\f3cc";
  }
  .icon-external-link-square1:before {
    content: "\f3cd";
  }
  .icon-share-square1:before {
    content: "\f3ce";
  }
  .icon-compass1:before {
    content: "\f3cf";
  }
  .icon-caret-square-o-down1:before {
    content: "\f3d0";
  }
  .icon-caret-square-o-up1:before {
    content: "\f3d1";
  }
  .icon-caret-square-o-right1:before {
    content: "\f3d2";
  }
  .icon-eur1:before {
    content: "\f3d3";
  }
  .icon-gbp1:before {
    content: "\f3d4";
  }
  .icon-dollar1:before {
    content: "\f3d5";
  }
  .icon-inr1:before {
    content: "\f3d6";
  }
  .icon-cny1:before {
    content: "\f3d7";
  }
  .icon-rouble1:before {
    content: "\f3d8";
  }
  .icon-krw1:before {
    content: "\f3d9";
  }
  .icon-bitcoin1:before {
    content: "\f3da";
  }
  .icon-file1:before {
    content: "\f3db";
  }
  .icon-file-text1:before {
    content: "\f3dc";
  }
  .icon-sort-alpha-asc1:before {
    content: "\f3dd";
  }
  .icon-sort-alpha-desc1:before {
    content: "\f3de";
  }
  .icon-sort-amount-asc1:before {
    content: "\f3df";
  }
  .icon-sort-amount-desc1:before {
    content: "\f3e0";
  }
  .icon-sort-numeric-asc1:before {
    content: "\f3e1";
  }
  .icon-sort-numeric-desc1:before {
    content: "\f3e2";
  }
  .icon-thumbs-up1:before {
    content: "\f3e3";
  }
  .icon-thumbs-down1:before {
    content: "\f3e4";
  }
  .icon-youtube-square1:before {
    content: "\f3e5";
  }
  .icon-youtube1:before {
    content: "\f3e6";
  }
  .icon-xing1:before {
    content: "\f3e7";
  }
  .icon-xing-square1:before {
    content: "\f3e8";
  }
  .icon-youtube-play1:before {
    content: "\f3e9";
  }
  .icon-dropbox1:before {
    content: "\f3ea";
  }
  .icon-stack-overflow1:before {
    content: "\f3eb";
  }
  .icon-instagram1:before {
    content: "\f3ec";
  }
  .icon-flickr1:before {
    content: "\f3ed";
  }
  .icon-adn1:before {
    content: "\f3ee";
  }
  .icon-bitbucket1:before {
    content: "\f3ef";
  }
  .icon-bitbucket-square1:before {
    content: "\f3f0";
  }
  .icon-tumblr1:before {
    content: "\f3f1";
  }
  .icon-tumblr-square1:before {
    content: "\f3f2";
  }
  .icon-long-arrow-down1:before {
    content: "\f3f3";
  }
  .icon-long-arrow-up1:before {
    content: "\f3f4";
  }
  .icon-long-arrow-left1:before {
    content: "\f3f5";
  }
  .icon-long-arrow-right1:before {
    content: "\f3f6";
  }
  .icon-apple1:before {
    content: "\f3f7";
  }
  .icon-windows1:before {
    content: "\f3f8";
  }
  .icon-android1:before {
    content: "\f3f9";
  }
  .icon-linux1:before {
    content: "\f3fa";
  }
  .icon-dribbble1:before {
    content: "\f3fb";
  }
  .icon-skype1:before {
    content: "\f3fc";
  }
  .icon-foursquare1:before {
    content: "\f3fd";
  }
  .icon-trello1:before {
    content: "\f3fe";
  }
  .icon-female1:before {
    content: "\f3ff";
  }
  .icon-male1:before {
    content: "\f400";
  }
  .icon-gittip1:before {
    content: "\f401";
  }
  .icon-sun-o1:before {
    content: "\f402";
  }
  .icon-moon-o1:before {
    content: "\f403";
  }
  .icon-archive1:before {
    content: "\f404";
  }
  .icon-bug1:before {
    content: "\f405";
  }
  .icon-vk1:before {
    content: "\f406";
  }
  .icon-weibo1:before {
    content: "\f407";
  }
  .icon-renren1:before {
    content: "\f408";
  }
  .icon-pagelines1:before {
    content: "\f409";
  }
  .icon-stack-exchange1:before {
    content: "\f40a";
  }
  .icon-arrow-circle-o-right1:before {
    content: "\f40b";
  }
  .icon-arrow-circle-o-left1:before {
    content: "\f40c";
  }
  .icon-caret-square-o-left1:before {
    content: "\f40d";
  }
  .icon-dot-circle-o1:before {
    content: "\f40e";
  }
  .icon-wheelchair1:before {
    content: "\f40f";
  }
  .icon-vimeo-square1:before {
    content: "\f410";
  }
  .icon-try1:before {
    content: "\f411";
  }
  .icon-plus-square-o1:before {
    content: "\f412";
  }
  .icon-space-shuttle1:before {
    content: "\f413";
  }
  .icon-slack1:before {
    content: "\f414";
  }
  .icon-envelope-square1:before {
    content: "\f415";
  }
  .icon-wordpress1:before {
    content: "\f416";
  }
  .icon-openid1:before {
    content: "\f417";
  }
  .icon-bank1:before {
    content: "\f418";
  }
  .icon-graduation-cap1:before {
    content: "\f419";
  }
  .icon-yahoo1:before {
    content: "\f41a";
  }
  .icon-google1:before {
    content: "\f41b";
  }
  .icon-reddit1:before {
    content: "\f41c";
  }
  .icon-reddit-square1:before {
    content: "\f41d";
  }
  .icon-stumbleupon-circle1:before {
    content: "\f41e";
  }
  .icon-stumbleupon1:before {
    content: "\f41f";
  }
  .icon-delicious1:before {
    content: "\f420";
  }
  .icon-digg1:before {
    content: "\f421";
  }
  .icon-pied-piper-pp1:before {
    content: "\f422";
  }
  .icon-pied-piper-alt1:before {
    content: "\f423";
  }
  .icon-drupal1:before {
    content: "\f424";
  }
  .icon-joomla1:before {
    content: "\f425";
  }
  .icon-language1:before {
    content: "\f426";
  }
  .icon-fax1:before {
    content: "\f427";
  }
  .icon-building1:before {
    content: "\f428";
  }
  .icon-child1:before {
    content: "\f429";
  }
  .icon-paw1:before {
    content: "\f42a";
  }
  .icon-spoon1:before {
    content: "\f42b";
  }
  .icon-cube1:before {
    content: "\f42c";
  }
  .icon-cubes1:before {
    content: "\f42d";
  }
  .icon-behance1:before {
    content: "\f42e";
  }
  .icon-behance-square1:before {
    content: "\f42f";
  }
  .icon-steam1:before {
    content: "\f430";
  }
  .icon-steam-square1:before {
    content: "\f431";
  }
  .icon-recycle1:before {
    content: "\f432";
  }
  .icon-automobile1:before {
    content: "\f433";
  }
  .icon-cab1:before {
    content: "\f434";
  }
  .icon-tree1:before {
    content: "\f435";
  }
  .icon-spotify1:before {
    content: "\f436";
  }
  .icon-deviantart1:before {
    content: "\f437";
  }
  .icon-soundcloud1:before {
    content: "\f438";
  }
  .icon-database1:before {
    content: "\f439";
  }
  .icon-file-pdf-o1:before {
    content: "\f43a";
  }
  .icon-file-word-o1:before {
    content: "\f43b";
  }
  .icon-file-excel-o1:before {
    content: "\f43c";
  }
  .icon-file-powerpoint-o1:before {
    content: "\f43d";
  }
  .icon-file-image-o1:before {
    content: "\f43e";
  }
  .icon-file-archive-o1:before {
    content: "\f43f";
  }
  .icon-file-audio-o1:before {
    content: "\f440";
  }
  .icon-file-movie-o1:before {
    content: "\f441";
  }
  .icon-file-code-o1:before {
    content: "\f442";
  }
  .icon-vine1:before {
    content: "\f443";
  }
  .icon-codepen1:before {
    content: "\f444";
  }
  .icon-jsfiddle1:before {
    content: "\f445";
  }
  .icon-life-bouy1:before {
    content: "\f446";
  }
  .icon-circle-o-notch1:before {
    content: "\f447";
  }
  .icon-ra1:before {
    content: "\f448";
  }
  .icon-empire1:before {
    content: "\f449";
  }
  .icon-git-square1:before {
    content: "\f44a";
  }
  .icon-git1:before {
    content: "\f44b";
  }
  .icon-hacker-news1:before {
    content: "\f44c";
  }
  .icon-tencent-weibo1:before {
    content: "\f44d";
  }
  .icon-qq1:before {
    content: "\f44e";
  }
  .icon-wechat1:before {
    content: "\f44f";
  }
  .icon-paper-plane1:before {
    content: "\f450";
  }
  .icon-paper-plane-o1:before {
    content: "\f451";
  }
  .icon-history1:before {
    content: "\f452";
  }
  .icon-circle-thin1:before {
    content: "\f453";
  }
  .icon-header1:before {
    content: "\f454";
  }
  .icon-paragraph1:before {
    content: "\f455";
  }
  .icon-sliders1:before {
    content: "\f456";
  }
  .icon-share-alt1:before {
    content: "\f457";
  }
  .icon-share-alt-square1:before {
    content: "\f458";
  }
  .icon-bomb1:before {
    content: "\f459";
  }
  .icon-futbol-o1:before {
    content: "\f45a";
  }
  .icon-tty1:before {
    content: "\f45b";
  }
  .icon-binoculars1:before {
    content: "\f45c";
  }
  .icon-plug1:before {
    content: "\f45d";
  }
  .icon-slideshare1:before {
    content: "\f45e";
  }
  .icon-twitch1:before {
    content: "\f45f";
  }
  .icon-yelp1:before {
    content: "\f460";
  }
  .icon-newspaper-o1:before {
    content: "\f461";
  }
  .icon-wifi1:before {
    content: "\f462";
  }
  .icon-calculator1:before {
    content: "\f463";
  }
  .icon-paypal1:before {
    content: "\f464";
  }
  .icon-google-wallet1:before {
    content: "\f465";
  }
  .icon-cc-visa1:before {
    content: "\f466";
  }
  .icon-cc-mastercard1:before {
    content: "\f467";
  }
  .icon-cc-discover1:before {
    content: "\f468";
  }
  .icon-cc-amex1:before {
    content: "\f469";
  }
  .icon-cc-paypal1:before {
    content: "\f46a";
  }
  .icon-cc-stripe1:before {
    content: "\f46b";
  }
  .icon-bell-slash1:before {
    content: "\f46c";
  }
  .icon-bell-slash-o1:before {
    content: "\f46d";
  }
  .icon-trash1:before {
    content: "\f46e";
  }
  .icon-copyright1:before {
    content: "\f46f";
  }
  .icon-at1:before {
    content: "\f470";
  }
  .icon-eyedropper1:before {
    content: "\f471";
  }
  .icon-paint-brush1:before {
    content: "\f472";
  }
  .icon-birthday-cake1:before {
    content: "\f473";
  }
  .icon-area-chart1:before {
    content: "\f474";
  }
  .icon-pie-chart1:before {
    content: "\f475";
  }
  .icon-line-chart1:before {
    content: "\f476";
  }
  .icon-lastfm1:before {
    content: "\f477";
  }
  .icon-lastfm-square1:before {
    content: "\f478";
  }
  .icon-toggle-off1:before {
    content: "\f479";
  }
  .icon-toggle-on1:before {
    content: "\f47a";
  }
  .icon-bicycle1:before {
    content: "\f47b";
  }
  .icon-bus1:before {
    content: "\f47c";
  }
  .icon-ioxhost1:before {
    content: "\f47d";
  }
  .icon-angellist1:before {
    content: "\f47e";
  }
  .icon-cc1:before {
    content: "\f47f";
  }
  .icon-ils1:before {
    content: "\f480";
  }
  .icon-meanpath1:before {
    content: "\f481";
  }
  .icon-buysellads1:before {
    content: "\f482";
  }
  .icon-connectdevelop1:before {
    content: "\f483";
  }
  .icon-dashcube1:before {
    content: "\f484";
  }
  .icon-forumbee1:before {
    content: "\f485";
  }
  .icon-leanpub1:before {
    content: "\f486";
  }
  .icon-sellsy1:before {
    content: "\f487";
  }
  .icon-shirtsinbulk1:before {
    content: "\f488";
  }
  .icon-simplybuilt1:before {
    content: "\f489";
  }
  .icon-skyatlas1:before {
    content: "\f48a";
  }
  .icon-cart-plus1:before {
    content: "\f48b";
  }
  .icon-cart-arrow-down1:before {
    content: "\f48c";
  }
  .icon-diamond1:before {
    content: "\f48d";
  }
  .icon-ship1:before {
    content: "\f48e";
  }
  .icon-user-secret1:before {
    content: "\f48f";
  }
  .icon-motorcycle1:before {
    content: "\f490";
  }
  .icon-street-view1:before {
    content: "\f491";
  }
  .icon-heartbeat1:before {
    content: "\f492";
  }
  .icon-venus1:before {
    content: "\f493";
  }
  .icon-mars1:before {
    content: "\f494";
  }
  .icon-mercury1:before {
    content: "\f495";
  }
  .icon-intersex1:before {
    content: "\f496";
  }
  .icon-transgender-alt1:before {
    content: "\f497";
  }
  .icon-venus-double1:before {
    content: "\f498";
  }
  .icon-mars-double1:before {
    content: "\f499";
  }
  .icon-venus-mars1:before {
    content: "\f49a";
  }
  .icon-mars-stroke1:before {
    content: "\f49b";
  }
  .icon-mars-stroke-v1:before {
    content: "\f49c";
  }
  .icon-mars-stroke-h1:before {
    content: "\f49d";
  }
  .icon-neuter1:before {
    content: "\f49e";
  }
  .icon-genderless1:before {
    content: "\f49f";
  }
  .icon-facebook-official1:before {
    content: "\f4a0";
  }
  .icon-pinterest-p1:before {
    content: "\f4a1";
  }
  .icon-whatsapp1:before {
    content: "\f4a2";
  }
  .icon-server1:before {
    content: "\f4a3";
  }
  .icon-user-plus1:before {
    content: "\f4a4";
  }
  .icon-user-times1:before {
    content: "\f4a5";
  }
  .icon-bed1:before {
    content: "\f4a6";
  }
  .icon-viacoin1:before {
    content: "\f4a7";
  }
  .icon-train1:before {
    content: "\f4a8";
  }
  .icon-subway1:before {
    content: "\f4a9";
  }
  .icon-medium1:before {
    content: "\f4aa";
  }
  .icon-y-combinator1:before {
    content: "\f4ab";
  }
  .icon-optin-monster1:before {
    content: "\f4ac";
  }
  .icon-opencart1:before {
    content: "\f4ad";
  }
  .icon-expeditedssl1:before {
    content: "\f4ae";
  }
  .icon-battery1:before {
    content: "\f4af";
  }
  .icon-battery-31:before {
    content: "\f4b0";
  }
  .icon-battery-21:before {
    content: "\f4b1";
  }
  .icon-battery-11:before {
    content: "\f4b2";
  }
  .icon-battery-01:before {
    content: "\f4b3";
  }
  .icon-mouse-pointer1:before {
    content: "\f4b4";
  }
  .icon-i-cursor1:before {
    content: "\f4b5";
  }
  .icon-object-group1:before {
    content: "\f4b6";
  }
  .icon-object-ungroup1:before {
    content: "\f4b7";
  }
  .icon-sticky-note1:before {
    content: "\f4b8";
  }
  .icon-sticky-note-o1:before {
    content: "\f4b9";
  }
  .icon-cc-jcb1:before {
    content: "\f4ba";
  }
  .icon-cc-diners-club1:before {
    content: "\f4bb";
  }
  .icon-clone1:before {
    content: "\f4bc";
  }
  .icon-balance-scale1:before {
    content: "\f4bd";
  }
  .icon-hourglass-o1:before {
    content: "\f4be";
  }
  .icon-hourglass-11:before {
    content: "\f4bf";
  }
  .icon-hourglass-21:before {
    content: "\f4c0";
  }
  .icon-hourglass-31:before {
    content: "\f4c1";
  }
  .icon-hourglass1:before {
    content: "\f4c2";
  }
  .icon-hand-grab-o1:before {
    content: "\f4c3";
  }
  .icon-hand-paper-o1:before {
    content: "\f4c4";
  }
  .icon-hand-scissors-o1:before {
    content: "\f4c5";
  }
  .icon-hand-lizard-o1:before {
    content: "\f4c6";
  }
  .icon-hand-spock-o1:before {
    content: "\f4c7";
  }
  .icon-hand-pointer-o1:before {
    content: "\f4c8";
  }
  .icon-hand-peace-o1:before {
    content: "\f4c9";
  }
  .icon-trademark1:before {
    content: "\f4ca";
  }
  .icon-registered1:before {
    content: "\f4cb";
  }
  .icon-creative-commons1:before {
    content: "\f4cc";
  }
  .icon-gg1:before {
    content: "\f4cd";
  }
  .icon-gg-circle1:before {
    content: "\f4ce";
  }
  .icon-tripadvisor1:before {
    content: "\f4cf";
  }
  .icon-odnoklassniki1:before {
    content: "\f4d0";
  }
  .icon-odnoklassniki-square1:before {
    content: "\f4d1";
  }
  .icon-get-pocket1:before {
    content: "\f4d2";
  }
  .icon-wikipedia-w1:before {
    content: "\f4d3";
  }
  .icon-safari1:before {
    content: "\f4d4";
  }
  .icon-chrome1:before {
    content: "\f4d5";
  }
  .icon-firefox1:before {
    content: "\f4d6";
  }
  .icon-opera1:before {
    content: "\f4d7";
  }
  .icon-internet-explorer1:before {
    content: "\f4d8";
  }
  .icon-television1:before {
    content: "\f4d9";
  }
  .icon-contao1:before {
    content: "\f4da";
  }
  .icon-500px1:before {
    content: "\f4db";
  }
  .icon-amazon1:before {
    content: "\f4dc";
  }
  .icon-calendar-plus-o1:before {
    content: "\f4dd";
  }
  .icon-calendar-minus-o1:before {
    content: "\f4de";
  }
  .icon-calendar-times-o1:before {
    content: "\f4df";
  }
  .icon-calendar-check-o1:before {
    content: "\f4e0";
  }
  .icon-industry1:before {
    content: "\f4e1";
  }
  .icon-map-pin1:before {
    content: "\f4e2";
  }
  .icon-map-signs1:before {
    content: "\f4e3";
  }
  .icon-map-o1:before {
    content: "\f4e4";
  }
  .icon-map1:before {
    content: "\f4e5";
  }
  .icon-commenting1:before {
    content: "\f4e6";
  }
  .icon-commenting-o1:before {
    content: "\f4e7";
  }
  .icon-houzz1:before {
    content: "\f4e8";
  }
  .icon-vimeo1:before {
    content: "\f4e9";
  }
  .icon-black-tie1:before {
    content: "\f4ea";
  }
  .icon-fonticons1:before {
    content: "\f4eb";
  }
  .icon-reddit-alien1:before {
    content: "\f4ec";
  }
  .icon-edge1:before {
    content: "\f4ed";
  }
  .icon-credit-card-alt1:before {
    content: "\f4ee";
  }
  .icon-codiepie1:before {
    content: "\f4ef";
  }
  .icon-modx1:before {
    content: "\f4f0";
  }
  .icon-fort-awesome1:before {
    content: "\f4f1";
  }
  .icon-usb1:before {
    content: "\f4f2";
  }
  .icon-product-hunt1:before {
    content: "\f4f3";
  }
  .icon-mixcloud1:before {
    content: "\f4f4";
  }
  .icon-scribd1:before {
    content: "\f4f5";
  }
  .icon-pause-circle1:before {
    content: "\f4f6";
  }
  .icon-pause-circle-o1:before {
    content: "\f4f7";
  }
  .icon-stop-circle1:before {
    content: "\f4f8";
  }
  .icon-stop-circle-o1:before {
    content: "\f4f9";
  }
  .icon-shopping-bag1:before {
    content: "\f4fa";
  }
  .icon-shopping-basket1:before {
    content: "\f4fb";
  }
  .icon-hashtag1:before {
    content: "\f4fc";
  }
  .icon-bluetooth1:before {
    content: "\f4fd";
  }
  .icon-bluetooth-b1:before {
    content: "\f4fe";
  }
  .icon-percent1:before {
    content: "\f4ff";
  }
  .icon-gitlab1:before {
    content: "\f500";
  }
  .icon-wpbeginner1:before {
    content: "\f501";
  }
  .icon-wpforms1:before {
    content: "\f502";
  }
  .icon-envira1:before {
    content: "\f503";
  }
  .icon-universal-access1:before {
    content: "\f504";
  }
  .icon-wheelchair-alt1:before {
    content: "\f505";
  }
  .icon-question-circle-o1:before {
    content: "\f506";
  }
  .icon-blind1:before {
    content: "\f507";
  }
  .icon-audio-description1:before {
    content: "\f508";
  }
  .icon-volume-control-phone1:before {
    content: "\f509";
  }
  .icon-braille1:before {
    content: "\f50a";
  }
  .icon-assistive-listening-systems1:before {
    content: "\f50b";
  }
  .icon-american-sign-language-interpreting1:before {
    content: "\f50c";
  }
  .icon-deaf1:before {
    content: "\f50d";
  }
  .icon-glide1:before {
    content: "\f50e";
  }
  .icon-glide-g1:before {
    content: "\f50f";
  }
  .icon-sign-language1:before {
    content: "\f510";
  }
  .icon-low-vision1:before {
    content: "\f511";
  }
  .icon-viadeo1:before {
    content: "\f512";
  }
  .icon-viadeo-square1:before {
    content: "\f513";
  }
  .icon-snapchat1:before {
    content: "\f514";
  }
  .icon-snapchat-ghost1:before {
    content: "\f515";
  }
  .icon-snapchat-square1:before {
    content: "\f516";
  }
  .icon-pied-piper1:before {
    content: "\f517";
  }
  .icon-first-order1:before {
    content: "\f518";
  }
  .icon-yoast1:before {
    content: "\f519";
  }
  .icon-themeisle1:before {
    content: "\f51a";
  }
  .icon-google-plus-circle1:before {
    content: "\f51b";
  }
  .icon-fa1:before {
    content: "\f51c";
  }
  .icon-handshake-o1:before {
    content: "\f51d";
  }
  .icon-envelope-open1:before {
    content: "\f51e";
  }
  .icon-envelope-open-o1:before {
    content: "\f51f";
  }
  .icon-linode1:before {
    content: "\f520";
  }
  .icon-address-book1:before {
    content: "\f521";
  }
  .icon-address-book-o1:before {
    content: "\f522";
  }
  .icon-address-card1:before {
    content: "\f523";
  }
  .icon-address-card-o1:before {
    content: "\f524";
  }
  .icon-user-circle1:before {
    content: "\f525";
  }
  .icon-user-circle-o1:before {
    content: "\f526";
  }
  .icon-user-o1:before {
    content: "\f527";
  }
  .icon-id-badge1:before {
    content: "\f528";
  }
  .icon-drivers-license1:before {
    content: "\f529";
  }
  .icon-drivers-license-o1:before {
    content: "\f52a";
  }
  .icon-quora1:before {
    content: "\f52b";
  }
  .icon-free-code-camp1:before {
    content: "\f52c";
  }
  .icon-telegram1:before {
    content: "\f52d";
  }
  .icon-thermometer1:before {
    content: "\f52e";
  }
  .icon-thermometer-31:before {
    content: "\f52f";
  }
  .icon-thermometer-21:before {
    content: "\f530";
  }
  .icon-thermometer-11:before {
    content: "\f531";
  }
  .icon-thermometer-01:before {
    content: "\f532";
  }
  .icon-shower1:before {
    content: "\f533";
  }
  .icon-bath1:before {
    content: "\f534";
  }
  .icon-podcast1:before {
    content: "\f535";
  }
  .icon-window-maximize1:before {
    content: "\f536";
  }
  .icon-window-minimize1:before {
    content: "\f537";
  }
  .icon-window-restore1:before {
    content: "\f538";
  }
  .icon-times-rectangle1:before {
    content: "\f539";
  }
  .icon-times-rectangle-o1:before {
    content: "\f53a";
  }
  .icon-bandcamp1:before {
    content: "\f53b";
  }
  .icon-grav1:before {
    content: "\f53c";
  }
  .icon-etsy1:before {
    content: "\f53d";
  }
  .icon-imdb1:before {
    content: "\f53e";
  }
  .icon-ravelry1:before {
    content: "\f53f";
  }
  .icon-eercast1:before {
    content: "\f540";
  }
  .icon-microchip1:before {
    content: "\f541";
  }
  .icon-snowflake-o1:before {
    content: "\f542";
  }
  .icon-superpowers1:before {
    content: "\f543";
  }
  .icon-wpexplorer1:before {
    content: "\f544";
  }
  .icon-meetup1:before {
    content: "\f545";
  }
  .icon-bida-basura:before {
    content: "\e90b";
  }
  .icon-bida-flecha-ver:before {
    content: "\e90c";
  }
  .icon-bida-vaso-toma:before {
    content: "\e90d";
  }
  .icon-asterisk:before {
    content: "\f069";
  }
  .icon-plus:before {
    content: "\f067";
  }
  .icon-question:before {
    content: "\f128";
  }
  .icon-minus:before {
    content: "\f068";
  }
  .icon-glass:before {
    content: "\f000";
  }
  .icon-music:before {
    content: "\f001";
  }
  .icon-search:before {
    content: "\f002";
  }
  .icon-envelope-o:before {
    content: "\f003";
  }
  .icon-heart:before {
    content: "\f004";
  }
  .icon-star:before {
    content: "\f005";
  }
  .icon-star-o:before {
    content: "\f006";
  }
  .icon-user:before {
    content: "\f007";
  }
  .icon-film:before {
    content: "\f008";
  }
  .icon-th-large:before {
    content: "\f009";
  }
  .icon-th:before {
    content: "\f00a";
  }
  .icon-th-list:before {
    content: "\f00b";
  }
  .icon-check:before {
    content: "\f00c";
  }
  .icon-close:before {
    content: "\f00d";
  }
  .icon-remove:before {
    content: "\f00d";
  }
  .icon-times:before {
    content: "\f00d";
  }
  .icon-search-plus:before {
    content: "\f00e";
  }
  .icon-search-minus:before {
    content: "\f010";
  }
  .icon-power-off:before {
    content: "\f011";
  }
  .icon-signal:before {
    content: "\f012";
  }
  .icon-cog:before {
    content: "\f013";
  }
  .icon-gear:before {
    content: "\f013";
  }
  .icon-trash-o:before {
    content: "\f014";
  }
  .icon-home:before {
    content: "\f015";
  }
  .icon-file-o:before {
    content: "\f016";
  }
  .icon-clock-o:before {
    content: "\f017";
  }
  .icon-road:before {
    content: "\f018";
  }
  .icon-download:before {
    content: "\f019";
  }
  .icon-arrow-circle-o-down:before {
    content: "\f01a";
  }
  .icon-arrow-circle-o-up:before {
    content: "\f01b";
  }
  .icon-inbox:before {
    content: "\f01c";
  }
  .icon-play-circle-o:before {
    content: "\f01d";
  }
  .icon-repeat:before {
    content: "\f01e";
  }
  .icon-rotate-right:before {
    content: "\f01e";
  }
  .icon-refresh:before {
    content: "\f021";
  }
  .icon-list-alt:before {
    content: "\f022";
  }
  .icon-lock:before {
    content: "\f023";
  }
  .icon-flag:before {
    content: "\f024";
  }
  .icon-headphones:before {
    content: "\f025";
  }
  .icon-volume-off:before {
    content: "\f026";
  }
  .icon-volume-down:before {
    content: "\f027";
  }
  .icon-volume-up:before {
    content: "\f028";
  }
  .icon-qrcode:before {
    content: "\f029";
  }
  .icon-barcode:before {
    content: "\f02a";
  }
  .icon-tag:before {
    content: "\f02b";
  }
  .icon-tags:before {
    content: "\f02c";
  }
  .icon-book:before {
    content: "\f02d";
  }
  .icon-bookmark:before {
    content: "\f02e";
  }
  .icon-print:before {
    content: "\f02f";
  }
  .icon-camera:before {
    content: "\f030";
  }
  .icon-font:before {
    content: "\f031";
  }
  .icon-bold:before {
    content: "\f032";
  }
  .icon-italic:before {
    content: "\f033";
  }
  .icon-text-height:before {
    content: "\f034";
  }
  .icon-text-width:before {
    content: "\f035";
  }
  .icon-align-left:before {
    content: "\f036";
  }
  .icon-align-center:before {
    content: "\f037";
  }
  .icon-align-right:before {
    content: "\f038";
  }
  .icon-align-justify:before {
    content: "\f039";
  }
  .icon-list:before {
    content: "\f03a";
  }
  .icon-dedent:before {
    content: "\f03b";
  }
  .icon-outdent:before {
    content: "\f03b";
  }
  .icon-indent:before {
    content: "\f03c";
  }
  .icon-video-camera:before {
    content: "\f03d";
  }
  .icon-image:before {
    content: "\f03e";
  }
  .icon-photo:before {
    content: "\f03e";
  }
  .icon-picture-o:before {
    content: "\f03e";
  }
  .icon-pencil:before {
    content: "\f040";
  }
  .icon-map-marker:before {
    content: "\f041";
  }
  .icon-adjust:before {
    content: "\f042";
  }
  .icon-tint:before {
    content: "\f043";
  }
  .icon-edit:before {
    content: "\f044";
  }
  .icon-pencil-square-o:before {
    content: "\f044";
  }
  .icon-share-square-o:before {
    content: "\f045";
  }
  .icon-check-square-o:before {
    content: "\f046";
  }
  .icon-arrows:before {
    content: "\f047";
  }
  .icon-step-backward:before {
    content: "\f048";
  }
  .icon-fast-backward:before {
    content: "\f049";
  }
  .icon-backward:before {
    content: "\f04a";
  }
  .icon-play:before {
    content: "\f04b";
  }
  .icon-pause:before {
    content: "\f04c";
  }
  .icon-stop:before {
    content: "\f04d";
  }
  .icon-forward:before {
    content: "\f04e";
  }
  .icon-fast-forward:before {
    content: "\f050";
  }
  .icon-step-forward:before {
    content: "\f051";
  }
  .icon-eject:before {
    content: "\f052";
  }
  .icon-chevron-left:before {
    content: "\f053";
  }
  .icon-chevron-right:before {
    content: "\f054";
  }
  .icon-plus-circle:before {
    content: "\f055";
  }
  .icon-minus-circle:before {
    content: "\f056";
  }
  .icon-times-circle:before {
    content: "\f057";
  }
  .icon-check-circle:before {
    content: "\f058";
  }
  .icon-question-circle:before {
    content: "\f059";
  }
  .icon-info-circle:before {
    content: "\f05a";
  }
  .icon-crosshairs:before {
    content: "\f05b";
  }
  .icon-times-circle-o:before {
    content: "\f05c";
  }
  .icon-check-circle-o:before {
    content: "\f05d";
  }
  .icon-ban:before {
    content: "\f05e";
  }
  .icon-arrow-left:before {
    content: "\f060";
  }
  .icon-arrow-right:before {
    content: "\f061";
  }
  .icon-arrow-up:before {
    content: "\f062";
  }
  .icon-arrow-down:before {
    content: "\f063";
  }
  .icon-mail-forward:before {
    content: "\f064";
  }
  .icon-share:before {
    content: "\f064";
  }
  .icon-expand:before {
    content: "\f065";
  }
  .icon-compress:before {
    content: "\f066";
  }
  .icon-exclamation-circle:before {
    content: "\f06a";
  }
  .icon-gift:before {
    content: "\f06b";
  }
  .icon-leaf:before {
    content: "\f06c";
  }
  .icon-fire:before {
    content: "\f06d";
  }
  .icon-eye:before {
    content: "\f06e";
  }
  .icon-eye-slash:before {
    content: "\f070";
  }
  .icon-exclamation-triangle:before {
    content: "\f071";
  }
  .icon-warning:before {
    content: "\f071";
  }
  .icon-plane:before {
    content: "\f072";
  }
  .icon-calendar:before {
    content: "\f073";
  }
  .icon-random:before {
    content: "\f074";
  }
  .icon-comment:before {
    content: "\f075";
  }
  .icon-magnet:before {
    content: "\f076";
  }
  .icon-chevron-up:before {
    content: "\f077";
  }
  .icon-chevron-down:before {
    content: "\f078";
  }
  .icon-retweet:before {
    content: "\f079";
  }
  .icon-shopping-cart:before {
    content: "\f07a";
  }
  .icon-folder:before {
    content: "\f07b";
  }
  .icon-folder-open:before {
    content: "\f07c";
  }
  .icon-arrows-v:before {
    content: "\f07d";
  }
  .icon-arrows-h:before {
    content: "\f07e";
  }
  .icon-bar-chart:before {
    content: "\f080";
  }
  .icon-bar-chart-o:before {
    content: "\f080";
  }
  .icon-twitter-square:before {
    content: "\f081";
  }
  .icon-facebook-square:before {
    content: "\f082";
  }
  .icon-camera-retro:before {
    content: "\f083";
  }
  .icon-key:before {
    content: "\f084";
  }
  .icon-cogs:before {
    content: "\f085";
  }
  .icon-gears:before {
    content: "\f085";
  }
  .icon-comments:before {
    content: "\f086";
  }
  .icon-thumbs-o-up:before {
    content: "\f087";
  }
  .icon-thumbs-o-down:before {
    content: "\f088";
  }
  .icon-star-half:before {
    content: "\f089";
  }
  .icon-heart-o:before {
    content: "\f08a";
  }
  .icon-sign-out:before {
    content: "\f08b";
  }
  .icon-linkedin-square:before {
    content: "\f08c";
  }
  .icon-thumb-tack:before {
    content: "\f08d";
  }
  .icon-external-link:before {
    content: "\f08e";
  }
  .icon-sign-in:before {
    content: "\f090";
  }
  .icon-trophy:before {
    content: "\f091";
  }
  .icon-github-square:before {
    content: "\f092";
  }
  .icon-upload:before {
    content: "\f093";
  }
  .icon-lemon-o:before {
    content: "\f094";
  }
  .icon-phone:before {
    content: "\f095";
  }
  .icon-square-o:before {
    content: "\f096";
  }
  .icon-bookmark-o:before {
    content: "\f097";
  }
  .icon-phone-square:before {
    content: "\f098";
  }
  .icon-twitter:before {
    content: "\f099";
  }
  .icon-facebook:before {
    content: "\f09a";
  }
  .icon-facebook-f:before {
    content: "\f09a";
  }
  .icon-github:before {
    content: "\f09b";
  }
  .icon-unlock:before {
    content: "\f09c";
  }
  .icon-credit-card:before {
    content: "\f09d";
  }
  .icon-feed:before {
    content: "\f09e";
  }
  .icon-rss:before {
    content: "\f09e";
  }
  .icon-hdd-o:before {
    content: "\f0a0";
  }
  .icon-bullhorn:before {
    content: "\f0a1";
  }
  .icon-bell-o:before {
    content: "\f0a2";
  }
  .icon-certificate:before {
    content: "\f0a3";
  }
  .icon-hand-o-right:before {
    content: "\f0a4";
  }
  .icon-hand-o-left:before {
    content: "\f0a5";
  }
  .icon-hand-o-up:before {
    content: "\f0a6";
  }
  .icon-hand-o-down:before {
    content: "\f0a7";
  }
  .icon-arrow-circle-left:before {
    content: "\f0a8";
  }
  .icon-arrow-circle-right:before {
    content: "\f0a9";
  }
  .icon-arrow-circle-up:before {
    content: "\f0aa";
  }
  .icon-arrow-circle-down:before {
    content: "\f0ab";
  }
  .icon-globe:before {
    content: "\f0ac";
  }
  .icon-wrench:before {
    content: "\f0ad";
  }
  .icon-tasks:before {
    content: "\f0ae";
  }
  .icon-filter:before {
    content: "\f0b0";
  }
  .icon-briefcase:before {
    content: "\f0b1";
  }
  .icon-arrows-alt:before {
    content: "\f0b2";
  }
  .icon-group:before {
    content: "\f0c0";
  }
  .icon-users:before {
    content: "\f0c0";
  }
  .icon-chain:before {
    content: "\f0c1";
  }
  .icon-link:before {
    content: "\f0c1";
  }
  .icon-cloud:before {
    content: "\f0c2";
  }
  .icon-flask:before {
    content: "\f0c3";
  }
  .icon-cut:before {
    content: "\f0c4";
  }
  .icon-scissors:before {
    content: "\f0c4";
  }
  .icon-copy:before {
    content: "\f0c5";
  }
  .icon-files-o:before {
    content: "\f0c5";
  }
  .icon-paperclip:before {
    content: "\f0c6";
  }
  .icon-floppy-o:before {
    content: "\f0c7";
  }
  .icon-save:before {
    content: "\f0c7";
  }
  .icon-square:before {
    content: "\f0c8";
  }
  .icon-bars:before {
    content: "\f0c9";
  }
  .icon-navicon:before {
    content: "\f0c9";
  }
  .icon-reorder:before {
    content: "\f0c9";
  }
  .icon-list-ul:before {
    content: "\f0ca";
  }
  .icon-list-ol:before {
    content: "\f0cb";
  }
  .icon-strikethrough:before {
    content: "\f0cc";
  }
  .icon-underline:before {
    content: "\f0cd";
  }
  .icon-table:before {
    content: "\f0ce";
  }
  .icon-magic:before {
    content: "\f0d0";
  }
  .icon-truck:before {
    content: "\f0d1";
  }
  .icon-pinterest:before {
    content: "\f0d2";
  }
  .icon-pinterest-square:before {
    content: "\f0d3";
  }
  .icon-google-plus-square:before {
    content: "\f0d4";
  }
  .icon-google-plus:before {
    content: "\f0d5";
  }
  .icon-money:before {
    content: "\f0d6";
  }
  .icon-caret-down:before {
    content: "\f0d7";
  }
  .icon-caret-up:before {
    content: "\f0d8";
  }
  .icon-caret-left:before {
    content: "\f0d9";
  }
  .icon-caret-right:before {
    content: "\f0da";
  }
  .icon-columns:before {
    content: "\f0db";
  }
  .icon-sort:before {
    content: "\f0dc";
  }
  .icon-unsorted:before {
    content: "\f0dc";
  }
  .icon-sort-desc:before {
    content: "\f0dd";
  }
  .icon-sort-down:before {
    content: "\f0dd";
  }
  .icon-sort-asc:before {
    content: "\f0de";
  }
  .icon-sort-up:before {
    content: "\f0de";
  }
  .icon-envelope:before {
    content: "\f0e0";
  }
  .icon-linkedin:before {
    content: "\f0e1";
  }
  .icon-rotate-left:before {
    content: "\f0e2";
  }
  .icon-undo:before {
    content: "\f0e2";
  }
  .icon-gavel:before {
    content: "\f0e3";
  }
  .icon-legal:before {
    content: "\f0e3";
  }
  .icon-dashboard:before {
    content: "\f0e4";
  }
  .icon-tachometer:before {
    content: "\f0e4";
  }
  .icon-comment-o:before {
    content: "\f0e5";
  }
  .icon-comments-o:before {
    content: "\f0e6";
  }
  .icon-bolt:before {
    content: "\f0e7";
  }
  .icon-flash:before {
    content: "\f0e7";
  }
  .icon-sitemap:before {
    content: "\f0e8";
  }
  .icon-umbrella:before {
    content: "\f0e9";
  }
  .icon-clipboard:before {
    content: "\f0ea";
  }
  .icon-paste:before {
    content: "\f0ea";
  }
  .icon-lightbulb-o:before {
    content: "\f0eb";
  }
  .icon-exchange:before {
    content: "\f0ec";
  }
  .icon-cloud-download:before {
    content: "\f0ed";
  }
  .icon-cloud-upload:before {
    content: "\f0ee";
  }
  .icon-user-md:before {
    content: "\f0f0";
  }
  .icon-stethoscope:before {
    content: "\f0f1";
  }
  .icon-suitcase:before {
    content: "\f0f2";
  }
  .icon-bell:before {
    content: "\f0f3";
  }
  .icon-coffee:before {
    content: "\f0f4";
  }
  .icon-cutlery:before {
    content: "\f0f5";
  }
  .icon-file-text-o:before {
    content: "\f0f6";
  }
  .icon-building-o:before {
    content: "\f0f7";
  }
  .icon-hospital-o:before {
    content: "\f0f8";
  }
  .icon-ambulance:before {
    content: "\f0f9";
  }
  .icon-medkit:before {
    content: "\f0fa";
  }
  .icon-fighter-jet:before {
    content: "\f0fb";
  }
  .icon-beer:before {
    content: "\f0fc";
  }
  .icon-h-square:before {
    content: "\f0fd";
  }
  .icon-plus-square:before {
    content: "\f0fe";
  }
  .icon-angle-double-left:before {
    content: "\f100";
  }
  .icon-angle-double-right:before {
    content: "\f101";
  }
  .icon-angle-double-up:before {
    content: "\f102";
  }
  .icon-angle-double-down:before {
    content: "\f103";
  }
  .icon-angle-left:before {
    content: "\f104";
  }
  .icon-angle-right:before {
    content: "\f105";
  }
  .icon-angle-up:before {
    content: "\f106";
  }
  .icon-angle-down:before {
    content: "\f107";
  }
  .icon-desktop:before {
    content: "\f108";
  }
  .icon-laptop:before {
    content: "\f109";
  }
  .icon-tablet:before {
    content: "\f10a";
  }
  .icon-mobile:before {
    content: "\f10b";
  }
  .icon-mobile-phone:before {
    content: "\f10b";
  }
  .icon-circle-o:before {
    content: "\f10c";
  }
  .icon-quote-left:before {
    content: "\f10d";
  }
  .icon-quote-right:before {
    content: "\f10e";
  }
  .icon-spinner:before {
    content: "\f110";
  }
  .icon-circle:before {
    content: "\f111";
  }
  .icon-mail-reply:before {
    content: "\f112";
  }
  .icon-reply:before {
    content: "\f112";
  }
  .icon-github-alt:before {
    content: "\f113";
  }
  .icon-folder-o:before {
    content: "\f114";
  }
  .icon-folder-open-o:before {
    content: "\f115";
  }
  .icon-smile-o:before {
    content: "\f118";
  }
  .icon-frown-o:before {
    content: "\f119";
  }
  .icon-meh-o:before {
    content: "\f11a";
  }
  .icon-gamepad:before {
    content: "\f11b";
  }
  .icon-keyboard-o:before {
    content: "\f11c";
  }
  .icon-flag-o:before {
    content: "\f11d";
  }
  .icon-flag-checkered:before {
    content: "\f11e";
  }
  .icon-terminal:before {
    content: "\f120";
  }
  .icon-code:before {
    content: "\f121";
  }
  .icon-mail-reply-all:before {
    content: "\f122";
  }
  .icon-reply-all:before {
    content: "\f122";
  }
  .icon-star-half-empty:before {
    content: "\f123";
  }
  .icon-star-half-full:before {
    content: "\f123";
  }
  .icon-star-half-o:before {
    content: "\f123";
  }
  .icon-location-arrow:before {
    content: "\f124";
  }
  .icon-crop:before {
    content: "\f125";
  }
  .icon-code-fork:before {
    content: "\f126";
  }
  .icon-chain-broken:before {
    content: "\f127";
  }
  .icon-unlink:before {
    content: "\f127";
  }
  .icon-info:before {
    content: "\f129";
  }
  .icon-exclamation:before {
    content: "\f12a";
  }
  .icon-superscript:before {
    content: "\f12b";
  }
  .icon-subscript:before {
    content: "\f12c";
  }
  .icon-eraser:before {
    content: "\f12d";
  }
  .icon-puzzle-piece:before {
    content: "\f12e";
  }
  .icon-microphone:before {
    content: "\f130";
  }
  .icon-microphone-slash:before {
    content: "\f131";
  }
  .icon-shield:before {
    content: "\f132";
  }
  .icon-calendar-o:before {
    content: "\f133";
  }
  .icon-fire-extinguisher:before {
    content: "\f134";
  }
  .icon-rocket:before {
    content: "\f135";
  }
  .icon-maxcdn:before {
    content: "\f136";
  }
  .icon-chevron-circle-left:before {
    content: "\f137";
  }
  .icon-chevron-circle-right:before {
    content: "\f138";
  }
  .icon-chevron-circle-up:before {
    content: "\f139";
  }
  .icon-chevron-circle-down:before {
    content: "\f13a";
  }
  .icon-html5:before {
    content: "\f13b";
  }
  .icon-css3:before {
    content: "\f13c";
  }
  .icon-anchor:before {
    content: "\f13d";
  }
  .icon-unlock-alt:before {
    content: "\f13e";
  }
  .icon-bullseye:before {
    content: "\f140";
  }
  .icon-ellipsis-h:before {
    content: "\f141";
  }
  .icon-ellipsis-v:before {
    content: "\f142";
  }
  .icon-rss-square:before {
    content: "\f143";
  }
  .icon-play-circle:before {
    content: "\f144";
  }
  .icon-ticket:before {
    content: "\f145";
  }
  .icon-minus-square:before {
    content: "\f146";
  }
  .icon-minus-square-o:before {
    content: "\f147";
  }
  .icon-level-up:before {
    content: "\f148";
  }
  .icon-level-down:before {
    content: "\f149";
  }
  .icon-check-square:before {
    content: "\f14a";
  }
  .icon-pencil-square:before {
    content: "\f14b";
  }
  .icon-external-link-square:before {
    content: "\f14c";
  }
  .icon-share-square:before {
    content: "\f14d";
  }
  .icon-compass:before {
    content: "\f14e";
  }
  .icon-caret-square-o-down:before {
    content: "\f150";
  }
  .icon-toggle-down:before {
    content: "\f150";
  }
  .icon-caret-square-o-up:before {
    content: "\f151";
  }
  .icon-toggle-up:before {
    content: "\f151";
  }
  .icon-caret-square-o-right:before {
    content: "\f152";
  }
  .icon-toggle-right:before {
    content: "\f152";
  }
  .icon-eur:before {
    content: "\f153";
  }
  .icon-euro:before {
    content: "\f153";
  }
  .icon-gbp:before {
    content: "\f154";
  }
  .icon-dollar:before {
    content: "\f155";
  }
  .icon-usd:before {
    content: "\f155";
  }
  .icon-inr:before {
    content: "\f156";
  }
  .icon-rupee:before {
    content: "\f156";
  }
  .icon-cny:before {
    content: "\f157";
  }
  .icon-jpy:before {
    content: "\f157";
  }
  .icon-rmb:before {
    content: "\f157";
  }
  .icon-yen:before {
    content: "\f157";
  }
  .icon-rouble:before {
    content: "\f158";
  }
  .icon-rub:before {
    content: "\f158";
  }
  .icon-ruble:before {
    content: "\f158";
  }
  .icon-krw:before {
    content: "\f159";
  }
  .icon-won:before {
    content: "\f159";
  }
  .icon-bitcoin:before {
    content: "\f15a";
  }
  .icon-btc:before {
    content: "\f15a";
  }
  .icon-file:before {
    content: "\f15b";
  }
  .icon-file-text:before {
    content: "\f15c";
  }
  .icon-sort-alpha-asc:before {
    content: "\f15d";
  }
  .icon-sort-alpha-desc:before {
    content: "\f15e";
  }
  .icon-sort-amount-asc:before {
    content: "\f160";
  }
  .icon-sort-amount-desc:before {
    content: "\f161";
  }
  .icon-sort-numeric-asc:before {
    content: "\f162";
  }
  .icon-sort-numeric-desc:before {
    content: "\f163";
  }
  .icon-thumbs-up:before {
    content: "\f164";
  }
  .icon-thumbs-down:before {
    content: "\f165";
  }
  .icon-youtube-square:before {
    content: "\f166";
  }
  .icon-youtube:before {
    content: "\f167";
  }
  .icon-xing:before {
    content: "\f168";
  }
  .icon-xing-square:before {
    content: "\f169";
  }
  .icon-youtube-play:before {
    content: "\f16a";
  }
  .icon-dropbox:before {
    content: "\f16b";
  }
  .icon-stack-overflow:before {
    content: "\f16c";
  }
  .icon-instagram:before {
    content: "\f16d";
  }
  .icon-flickr:before {
    content: "\f16e";
  }
  .icon-adn:before {
    content: "\f170";
  }
  .icon-bitbucket:before {
    content: "\f171";
  }
  .icon-bitbucket-square:before {
    content: "\f172";
  }
  .icon-tumblr:before {
    content: "\f173";
  }
  .icon-tumblr-square:before {
    content: "\f174";
  }
  .icon-long-arrow-down:before {
    content: "\f175";
  }
  .icon-long-arrow-up:before {
    content: "\f176";
  }
  .icon-long-arrow-left:before {
    content: "\f177";
  }
  .icon-long-arrow-right:before {
    content: "\f178";
  }
  .icon-apple:before {
    content: "\f179";
  }
  .icon-windows:before {
    content: "\f17a";
  }
  .icon-android:before {
    content: "\f17b";
  }
  .icon-linux:before {
    content: "\f17c";
  }
  .icon-dribbble:before {
    content: "\f17d";
  }
  .icon-skype:before {
    content: "\f17e";
  }
  .icon-foursquare:before {
    content: "\f180";
  }
  .icon-trello:before {
    content: "\f181";
  }
  .icon-female:before {
    content: "\f182";
  }
  .icon-male:before {
    content: "\f183";
  }
  .icon-gittip:before {
    content: "\f184";
  }
  .icon-gratipay:before {
    content: "\f184";
  }
  .icon-sun-o:before {
    content: "\f185";
  }
  .icon-moon-o:before {
    content: "\f186";
  }
  .icon-archive:before {
    content: "\f187";
  }
  .icon-bug:before {
    content: "\f188";
  }
  .icon-vk:before {
    content: "\f189";
  }
  .icon-weibo:before {
    content: "\f18a";
  }
  .icon-renren:before {
    content: "\f18b";
  }
  .icon-pagelines:before {
    content: "\f18c";
  }
  .icon-stack-exchange:before {
    content: "\f18d";
  }
  .icon-arrow-circle-o-right:before {
    content: "\f18e";
  }
  .icon-arrow-circle-o-left:before {
    content: "\f190";
  }
  .icon-caret-square-o-left:before {
    content: "\f191";
  }
  .icon-toggle-left:before {
    content: "\f191";
  }
  .icon-dot-circle-o:before {
    content: "\f192";
  }
  .icon-wheelchair:before {
    content: "\f193";
  }
  .icon-vimeo-square:before {
    content: "\f194";
  }
  .icon-try:before {
    content: "\f195";
  }
  .icon-turkish-lira:before {
    content: "\f195";
  }
  .icon-plus-square-o:before {
    content: "\f196";
  }
  .icon-space-shuttle:before {
    content: "\f197";
  }
  .icon-slack:before {
    content: "\f198";
  }
  .icon-envelope-square:before {
    content: "\f199";
  }
  .icon-wordpress:before {
    content: "\f19a";
  }
  .icon-openid:before {
    content: "\f19b";
  }
  .icon-bank:before {
    content: "\f19c";
  }
  .icon-institution:before {
    content: "\f19c";
  }
  .icon-university:before {
    content: "\f19c";
  }
  .icon-graduation-cap:before {
    content: "\f19d";
  }
  .icon-mortar-board:before {
    content: "\f19d";
  }
  .icon-yahoo:before {
    content: "\f19e";
  }
  .icon-google:before {
    content: "\f1a0";
  }
  .icon-reddit:before {
    content: "\f1a1";
  }
  .icon-reddit-square:before {
    content: "\f1a2";
  }
  .icon-stumbleupon-circle:before {
    content: "\f1a3";
  }
  .icon-stumbleupon:before {
    content: "\f1a4";
  }
  .icon-delicious:before {
    content: "\f1a5";
  }
  .icon-digg:before {
    content: "\f1a6";
  }
  .icon-pied-piper-pp:before {
    content: "\f1a7";
  }
  .icon-pied-piper-alt:before {
    content: "\f1a8";
  }
  .icon-drupal:before {
    content: "\f1a9";
  }
  .icon-joomla:before {
    content: "\f1aa";
  }
  .icon-language:before {
    content: "\f1ab";
  }
  .icon-fax:before {
    content: "\f1ac";
  }
  .icon-building:before {
    content: "\f1ad";
  }
  .icon-child:before {
    content: "\f1ae";
  }
  .icon-paw:before {
    content: "\f1b0";
  }
  .icon-spoon:before {
    content: "\f1b1";
  }
  .icon-cube:before {
    content: "\f1b2";
  }
  .icon-cubes:before {
    content: "\f1b3";
  }
  .icon-behance:before {
    content: "\f1b4";
  }
  .icon-behance-square:before {
    content: "\f1b5";
  }
  .icon-steam:before {
    content: "\f1b6";
  }
  .icon-steam-square:before {
    content: "\f1b7";
  }
  .icon-recycle:before {
    content: "\f1b8";
  }
  .icon-automobile:before {
    content: "\f1b9";
  }
  .icon-car:before {
    content: "\f1b9";
  }
  .icon-cab:before {
    content: "\f1ba";
  }
  .icon-taxi:before {
    content: "\f1ba";
  }
  .icon-tree:before {
    content: "\f1bb";
  }
  .icon-spotify:before {
    content: "\f1bc";
  }
  .icon-deviantart:before {
    content: "\f1bd";
  }
  .icon-soundcloud:before {
    content: "\f1be";
  }
  .icon-database:before {
    content: "\f1c0";
  }
  .icon-file-pdf-o:before {
    content: "\f1c1";
  }
  .icon-file-word-o:before {
    content: "\f1c2";
  }
  .icon-file-excel-o:before {
    content: "\f1c3";
  }
  .icon-file-powerpoint-o:before {
    content: "\f1c4";
  }
  .icon-file-image-o:before {
    content: "\f1c5";
  }
  .icon-file-photo-o:before {
    content: "\f1c5";
  }
  .icon-file-picture-o:before {
    content: "\f1c5";
  }
  .icon-file-archive-o:before {
    content: "\f1c6";
  }
  .icon-file-zip-o:before {
    content: "\f1c6";
  }
  .icon-file-audio-o:before {
    content: "\f1c7";
  }
  .icon-file-sound-o:before {
    content: "\f1c7";
  }
  .icon-file-movie-o:before {
    content: "\f1c8";
  }
  .icon-file-video-o:before {
    content: "\f1c8";
  }
  .icon-file-code-o:before {
    content: "\f1c9";
  }
  .icon-vine:before {
    content: "\f1ca";
  }
  .icon-codepen:before {
    content: "\f1cb";
  }
  .icon-jsfiddle:before {
    content: "\f1cc";
  }
  .icon-life-bouy:before {
    content: "\f1cd";
  }
  .icon-life-buoy:before {
    content: "\f1cd";
  }
  .icon-life-ring:before {
    content: "\f1cd";
  }
  .icon-life-saver:before {
    content: "\f1cd";
  }
  .icon-support:before {
    content: "\f1cd";
  }
  .icon-circle-o-notch:before {
    content: "\f1ce";
  }
  .icon-ra:before {
    content: "\f1d0";
  }
  .icon-rebel:before {
    content: "\f1d0";
  }
  .icon-resistance:before {
    content: "\f1d0";
  }
  .icon-empire:before {
    content: "\f1d1";
  }
  .icon-ge:before {
    content: "\f1d1";
  }
  .icon-git-square:before {
    content: "\f1d2";
  }
  .icon-git:before {
    content: "\f1d3";
  }
  .icon-hacker-news:before {
    content: "\f1d4";
  }
  .icon-y-combinator-square:before {
    content: "\f1d4";
  }
  .icon-yc-square:before {
    content: "\f1d4";
  }
  .icon-tencent-weibo:before {
    content: "\f1d5";
  }
  .icon-qq:before {
    content: "\f1d6";
  }
  .icon-wechat:before {
    content: "\f1d7";
  }
  .icon-weixin:before {
    content: "\f1d7";
  }
  .icon-paper-plane:before {
    content: "\f1d8";
  }
  .icon-send:before {
    content: "\f1d8";
  }
  .icon-paper-plane-o:before {
    content: "\f1d9";
  }
  .icon-send-o:before {
    content: "\f1d9";
  }
  .icon-history:before {
    content: "\f1da";
  }
  .icon-circle-thin:before {
    content: "\f1db";
  }
  .icon-header:before {
    content: "\f1dc";
  }
  .icon-paragraph:before {
    content: "\f1dd";
  }
  .icon-sliders:before {
    content: "\f1de";
  }
  .icon-share-alt:before {
    content: "\f1e0";
  }
  .icon-share-alt-square:before {
    content: "\f1e1";
  }
  .icon-bomb:before {
    content: "\f1e2";
  }
  .icon-futbol-o:before {
    content: "\f1e3";
  }
  .icon-soccer-ball-o:before {
    content: "\f1e3";
  }
  .icon-tty:before {
    content: "\f1e4";
  }
  .icon-binoculars:before {
    content: "\f1e5";
  }
  .icon-plug:before {
    content: "\f1e6";
  }
  .icon-slideshare:before {
    content: "\f1e7";
  }
  .icon-twitch:before {
    content: "\f1e8";
  }
  .icon-yelp:before {
    content: "\f1e9";
  }
  .icon-newspaper-o:before {
    content: "\f1ea";
  }
  .icon-wifi:before {
    content: "\f1eb";
  }
  .icon-calculator:before {
    content: "\f1ec";
  }
  .icon-paypal:before {
    content: "\f1ed";
  }
  .icon-google-wallet:before {
    content: "\f1ee";
  }
  .icon-cc-visa:before {
    content: "\f1f0";
  }
  .icon-cc-mastercard:before {
    content: "\f1f1";
  }
  .icon-cc-discover:before {
    content: "\f1f2";
  }
  .icon-cc-amex:before {
    content: "\f1f3";
  }
  .icon-cc-paypal:before {
    content: "\f1f4";
  }
  .icon-cc-stripe:before {
    content: "\f1f5";
  }
  .icon-bell-slash:before {
    content: "\f1f6";
  }
  .icon-bell-slash-o:before {
    content: "\f1f7";
  }
  .icon-trash:before {
    content: "\f1f8";
  }
  .icon-copyright:before {
    content: "\f1f9";
  }
  .icon-at:before {
    content: "\f1fa";
  }
  .icon-eyedropper:before {
    content: "\f1fb";
  }
  .icon-paint-brush:before {
    content: "\f1fc";
  }
  .icon-birthday-cake:before {
    content: "\f1fd";
  }
  .icon-area-chart:before {
    content: "\f1fe";
  }
  .icon-pie-chart:before {
    content: "\f200";
  }
  .icon-line-chart:before {
    content: "\f201";
  }
  .icon-lastfm:before {
    content: "\f202";
  }
  .icon-lastfm-square:before {
    content: "\f203";
  }
  .icon-toggle-off:before {
    content: "\f204";
  }
  .icon-toggle-on:before {
    content: "\f205";
  }
  .icon-bicycle:before {
    content: "\f206";
  }
  .icon-bus:before {
    content: "\f207";
  }
  .icon-ioxhost:before {
    content: "\f208";
  }
  .icon-angellist:before {
    content: "\f209";
  }
  .icon-cc:before {
    content: "\f20a";
  }
  .icon-ils:before {
    content: "\f20b";
  }
  .icon-shekel:before {
    content: "\f20b";
  }
  .icon-sheqel:before {
    content: "\f20b";
  }
  .icon-meanpath:before {
    content: "\f20c";
  }
  .icon-buysellads:before {
    content: "\f20d";
  }
  .icon-connectdevelop:before {
    content: "\f20e";
  }
  .icon-dashcube:before {
    content: "\f210";
  }
  .icon-forumbee:before {
    content: "\f211";
  }
  .icon-leanpub:before {
    content: "\f212";
  }
  .icon-sellsy:before {
    content: "\f213";
  }
  .icon-shirtsinbulk:before {
    content: "\f214";
  }
  .icon-simplybuilt:before {
    content: "\f215";
  }
  .icon-skyatlas:before {
    content: "\f216";
  }
  .icon-cart-plus:before {
    content: "\f217";
  }
  .icon-cart-arrow-down:before {
    content: "\f218";
  }
  .icon-diamond:before {
    content: "\f219";
  }
  .icon-ship:before {
    content: "\f21a";
  }
  .icon-user-secret:before {
    content: "\f21b";
  }
  .icon-motorcycle:before {
    content: "\f21c";
  }
  .icon-street-view:before {
    content: "\f21d";
  }
  .icon-heartbeat:before {
    content: "\f21e";
  }
  .icon-venus:before {
    content: "\f221";
  }
  .icon-mars:before {
    content: "\f222";
  }
  .icon-mercury:before {
    content: "\f223";
  }
  .icon-intersex:before {
    content: "\f224";
  }
  .icon-transgender:before {
    content: "\f224";
  }
  .icon-transgender-alt:before {
    content: "\f225";
  }
  .icon-venus-double:before {
    content: "\f226";
  }
  .icon-mars-double:before {
    content: "\f227";
  }
  .icon-venus-mars:before {
    content: "\f228";
  }
  .icon-mars-stroke:before {
    content: "\f229";
  }
  .icon-mars-stroke-v:before {
    content: "\f22a";
  }
  .icon-mars-stroke-h:before {
    content: "\f22b";
  }
  .icon-neuter:before {
    content: "\f22c";
  }
  .icon-genderless:before {
    content: "\f22d";
  }
  .icon-facebook-official:before {
    content: "\f230";
  }
  .icon-pinterest-p:before {
    content: "\f231";
  }
  .icon-whatsapp:before {
    content: "\f232";
  }
  .icon-server:before {
    content: "\f233";
  }
  .icon-user-plus:before {
    content: "\f234";
  }
  .icon-user-times:before {
    content: "\f235";
  }
  .icon-bed:before {
    content: "\f236";
  }
  .icon-hotel:before {
    content: "\f236";
  }
  .icon-viacoin:before {
    content: "\f237";
  }
  .icon-train:before {
    content: "\f238";
  }
  .icon-subway:before {
    content: "\f239";
  }
  .icon-medium:before {
    content: "\f23a";
  }
  .icon-y-combinator:before {
    content: "\f23b";
  }
  .icon-yc:before {
    content: "\f23b";
  }
  .icon-optin-monster:before {
    content: "\f23c";
  }
  .icon-opencart:before {
    content: "\f23d";
  }
  .icon-expeditedssl:before {
    content: "\f23e";
  }
  .icon-battery:before {
    content: "\f240";
  }
  .icon-battery-4:before {
    content: "\f240";
  }
  .icon-battery-full:before {
    content: "\f240";
  }
  .icon-battery-3:before {
    content: "\f241";
  }
  .icon-battery-three-quarters:before {
    content: "\f241";
  }
  .icon-battery-2:before {
    content: "\f242";
  }
  .icon-battery-half:before {
    content: "\f242";
  }
  .icon-battery-1:before {
    content: "\f243";
  }
  .icon-battery-quarter:before {
    content: "\f243";
  }
  .icon-battery-0:before {
    content: "\f244";
  }
  .icon-battery-empty:before {
    content: "\f244";
  }
  .icon-mouse-pointer:before {
    content: "\f245";
  }
  .icon-i-cursor:before {
    content: "\f246";
  }
  .icon-object-group:before {
    content: "\f247";
  }
  .icon-object-ungroup:before {
    content: "\f248";
  }
  .icon-sticky-note:before {
    content: "\f249";
  }
  .icon-sticky-note-o:before {
    content: "\f24a";
  }
  .icon-cc-jcb:before {
    content: "\f24b";
  }
  .icon-cc-diners-club:before {
    content: "\f24c";
  }
  .icon-clone:before {
    content: "\f24d";
  }
  .icon-balance-scale:before {
    content: "\f24e";
  }
  .icon-hourglass-o:before {
    content: "\f250";
  }
  .icon-hourglass-1:before {
    content: "\f251";
  }
  .icon-hourglass-start:before {
    content: "\f251";
  }
  .icon-hourglass-2:before {
    content: "\f252";
  }
  .icon-hourglass-half:before {
    content: "\f252";
  }
  .icon-hourglass-3:before {
    content: "\f253";
  }
  .icon-hourglass-end:before {
    content: "\f253";
  }
  .icon-hourglass:before {
    content: "\f254";
  }
  .icon-hand-grab-o:before {
    content: "\f255";
  }
  .icon-hand-rock-o:before {
    content: "\f255";
  }
  .icon-hand-paper-o:before {
    content: "\f256";
  }
  .icon-hand-stop-o:before {
    content: "\f256";
  }
  .icon-hand-scissors-o:before {
    content: "\f257";
  }
  .icon-hand-lizard-o:before {
    content: "\f258";
  }
  .icon-hand-spock-o:before {
    content: "\f259";
  }
  .icon-hand-pointer-o:before {
    content: "\f25a";
  }
  .icon-hand-peace-o:before {
    content: "\f25b";
  }
  .icon-trademark:before {
    content: "\f25c";
  }
  .icon-registered:before {
    content: "\f25d";
  }
  .icon-creative-commons:before {
    content: "\f25e";
  }
  .icon-gg:before {
    content: "\f260";
  }
  .icon-gg-circle:before {
    content: "\f261";
  }
  .icon-tripadvisor:before {
    content: "\f262";
  }
  .icon-odnoklassniki:before {
    content: "\f263";
  }
  .icon-odnoklassniki-square:before {
    content: "\f264";
  }
  .icon-get-pocket:before {
    content: "\f265";
  }
  .icon-wikipedia-w:before {
    content: "\f266";
  }
  .icon-safari:before {
    content: "\f267";
  }
  .icon-chrome:before {
    content: "\f268";
  }
  .icon-firefox:before {
    content: "\f269";
  }
  .icon-opera:before {
    content: "\f26a";
  }
  .icon-internet-explorer:before {
    content: "\f26b";
  }
  .icon-television:before {
    content: "\f26c";
  }
  .icon-tv:before {
    content: "\f26c";
  }
  .icon-contao:before {
    content: "\f26d";
  }
  .icon-500px:before {
    content: "\f26e";
  }
  .icon-amazon:before {
    content: "\f270";
  }
  .icon-calendar-plus-o:before {
    content: "\f271";
  }
  .icon-calendar-minus-o:before {
    content: "\f272";
  }
  .icon-calendar-times-o:before {
    content: "\f273";
  }
  .icon-calendar-check-o:before {
    content: "\f274";
  }
  .icon-industry:before {
    content: "\f275";
  }
  .icon-map-pin:before {
    content: "\f276";
  }
  .icon-map-signs:before {
    content: "\f277";
  }
  .icon-map-o:before {
    content: "\f278";
  }
  .icon-map:before {
    content: "\f279";
  }
  .icon-commenting:before {
    content: "\f27a";
  }
  .icon-commenting-o:before {
    content: "\f27b";
  }
  .icon-houzz:before {
    content: "\f27c";
  }
  .icon-vimeo:before {
    content: "\f27d";
  }
  .icon-black-tie:before {
    content: "\f27e";
  }
  .icon-fonticons:before {
    content: "\f280";
  }
  .icon-reddit-alien:before {
    content: "\f281";
  }
  .icon-edge:before {
    content: "\f282";
  }
  .icon-credit-card-alt:before {
    content: "\f283";
  }
  .icon-codiepie:before {
    content: "\f284";
  }
  .icon-modx:before {
    content: "\f285";
  }
  .icon-fort-awesome:before {
    content: "\f286";
  }
  .icon-usb:before {
    content: "\f287";
  }
  .icon-product-hunt:before {
    content: "\f288";
  }
  .icon-mixcloud:before {
    content: "\f289";
  }
  .icon-scribd:before {
    content: "\f28a";
  }
  .icon-pause-circle:before {
    content: "\f28b";
  }
  .icon-pause-circle-o:before {
    content: "\f28c";
  }
  .icon-stop-circle:before {
    content: "\f28d";
  }
  .icon-stop-circle-o:before {
    content: "\f28e";
  }
  .icon-shopping-bag:before {
    content: "\f290";
  }
  .icon-shopping-basket:before {
    content: "\f291";
  }
  .icon-hashtag:before {
    content: "\f292";
  }
  .icon-bluetooth:before {
    content: "\f293";
  }
  .icon-bluetooth-b:before {
    content: "\f294";
  }
  .icon-percent:before {
    content: "\f295";
  }
  .icon-gitlab:before {
    content: "\f296";
  }
  .icon-wpbeginner:before {
    content: "\f297";
  }
  .icon-wpforms:before {
    content: "\f298";
  }
  .icon-envira:before {
    content: "\f299";
  }
  .icon-universal-access:before {
    content: "\f29a";
  }
  .icon-wheelchair-alt:before {
    content: "\f29b";
  }
  .icon-question-circle-o:before {
    content: "\f29c";
  }
  .icon-blind:before {
    content: "\f29d";
  }
  .icon-audio-description:before {
    content: "\f29e";
  }
  .icon-volume-control-phone:before {
    content: "\f2a0";
  }
  .icon-braille:before {
    content: "\f2a1";
  }
  .icon-assistive-listening-systems:before {
    content: "\f2a2";
  }
  .icon-american-sign-language-interpreting:before {
    content: "\f2a3";
  }
  .icon-asl-interpreting:before {
    content: "\f2a3";
  }
  .icon-deaf:before {
    content: "\f2a4";
  }
  .icon-deafness:before {
    content: "\f2a4";
  }
  .icon-hard-of-hearing:before {
    content: "\f2a4";
  }
  .icon-glide:before {
    content: "\f2a5";
  }
  .icon-glide-g:before {
    content: "\f2a6";
  }
  .icon-sign-language:before {
    content: "\f2a7";
  }
  .icon-signing:before {
    content: "\f2a7";
  }
  .icon-low-vision:before {
    content: "\f2a8";
  }
  .icon-viadeo:before {
    content: "\f2a9";
  }
  .icon-viadeo-square:before {
    content: "\f2aa";
  }
  .icon-snapchat:before {
    content: "\f2ab";
  }
  .icon-snapchat-ghost:before {
    content: "\f2ac";
  }
  .icon-snapchat-square:before {
    content: "\f2ad";
  }
  .icon-pied-piper:before {
    content: "\f2ae";
  }
  .icon-first-order:before {
    content: "\f2b0";
  }
  .icon-yoast:before {
    content: "\f2b1";
  }
  .icon-themeisle:before {
    content: "\f2b2";
  }
  .icon-google-plus-circle:before {
    content: "\f2b3";
  }
  .icon-google-plus-official:before {
    content: "\f2b3";
  }
  .icon-fa:before {
    content: "\f2b4";
  }
  .icon-font-awesome:before {
    content: "\f2b4";
  }
  .icon-handshake-o:before {
    content: "\f2b5";
  }
  .icon-envelope-open:before {
    content: "\f2b6";
  }
  .icon-envelope-open-o:before {
    content: "\f2b7";
  }
  .icon-linode:before {
    content: "\f2b8";
  }
  .icon-address-book:before {
    content: "\f2b9";
  }
  .icon-address-book-o:before {
    content: "\f2ba";
  }
  .icon-address-card:before {
    content: "\f2bb";
  }
  .icon-vcard:before {
    content: "\f2bb";
  }
  .icon-address-card-o:before {
    content: "\f2bc";
  }
  .icon-vcard-o:before {
    content: "\f2bc";
  }
  .icon-user-circle:before {
    content: "\f2bd";
  }
  .icon-user-circle-o:before {
    content: "\f2be";
  }
  .icon-user-o:before {
    content: "\f2c0";
  }
  .icon-id-badge:before {
    content: "\f2c1";
  }
  .icon-drivers-license:before {
    content: "\f2c2";
  }
  .icon-id-card:before {
    content: "\f2c2";
  }
  .icon-drivers-license-o:before {
    content: "\f2c3";
  }
  .icon-id-card-o:before {
    content: "\f2c3";
  }
  .icon-quora:before {
    content: "\f2c4";
  }
  .icon-free-code-camp:before {
    content: "\f2c5";
  }
  .icon-telegram:before {
    content: "\f2c6";
  }
  .icon-thermometer:before {
    content: "\f2c7";
  }
  .icon-thermometer-4:before {
    content: "\f2c7";
  }
  .icon-thermometer-full:before {
    content: "\f2c7";
  }
  .icon-thermometer-3:before {
    content: "\f2c8";
  }
  .icon-thermometer-three-quarters:before {
    content: "\f2c8";
  }
  .icon-thermometer-2:before {
    content: "\f2c9";
  }
  .icon-thermometer-half:before {
    content: "\f2c9";
  }
  .icon-thermometer-1:before {
    content: "\f2ca";
  }
  .icon-thermometer-quarter:before {
    content: "\f2ca";
  }
  .icon-thermometer-0:before {
    content: "\f2cb";
  }
  .icon-thermometer-empty:before {
    content: "\f2cb";
  }
  .icon-shower:before {
    content: "\f2cc";
  }
  .icon-bath:before {
    content: "\f2cd";
  }
  .icon-bathtub:before {
    content: "\f2cd";
  }
  .icon-s15:before {
    content: "\f2cd";
  }
  .icon-podcast:before {
    content: "\f2ce";
  }
  .icon-window-maximize:before {
    content: "\f2d0";
  }
  .icon-window-minimize:before {
    content: "\f2d1";
  }
  .icon-window-restore:before {
    content: "\f2d2";
  }
  .icon-times-rectangle:before {
    content: "\f2d3";
  }
  .icon-window-close:before {
    content: "\f2d3";
  }
  .icon-times-rectangle-o:before {
    content: "\f2d4";
  }
  .icon-window-close-o:before {
    content: "\f2d4";
  }
  .icon-bandcamp:before {
    content: "\f2d5";
  }
  .icon-grav:before {
    content: "\f2d6";
  }
  .icon-etsy:before {
    content: "\f2d7";
  }
  .icon-imdb:before {
    content: "\f2d8";
  }
  .icon-ravelry:before {
    content: "\f2d9";
  }
  .icon-eercast:before {
    content: "\f2da";
  }
  .icon-microchip:before {
    content: "\f2db";
  }
  .icon-snowflake-o:before {
    content: "\f2dc";
  }
  .icon-superpowers:before {
    content: "\f2dd";
  }
  .icon-wpexplorer:before {
    content: "\f2de";
  }
  .icon-meetup:before {
    content: "\f2e0";
  }
  