.bidafarma__card {
  background: #ffffff;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.12);
  padding: 20px 11px 10px 11px;
  margin-bottom: 16px;
}
.medication-take-modal {
  --height: auto;
  .modal-wrapper {
    position: absolute;
    top: 80px;
    min-height: 373px;
    height: auto;
  }
}
.medication-take-modal--small {
  @extend .medication-take-modal;
  .modal-wrapper {
    min-height: 290px;
  }
}
.single-med-card-alert {
  .alert-message {
    font-size: 16px;
    text-align: left;
    padding: 0 28px 20px 28px;
  }
  .alert-wrapper {
    border-radius: 5px;
    top: 140px;
    position: absolute;
  }
  .alert-head {
    padding-top: 15px;
  }
  .alert-button-group {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
  }
  .alert-button {
    margin: 0;
    width: 100%;
    background-color: #F4F4F4;
    border: 0;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 17px;
    &:last-child {
      color:#E81A4C;
      &:focus, &:active {
        color:#E81A4C
      }
    }
    &:first-child {
      border-right: 0.5px solid var(--ion-color-light-shade);
      color: #008EA4;
    }
    .alert-button-inner {
      justify-content: center;
      font-weight: 600;
    }
  }
}
.single-med-card-alert--neutral {
  .alert-button {
    &:last-child {
      color: #008EA4;
      &:focus, &:active {
        color: #008EA4;
      }
    }
  }
  @extend .single-med-card-alert;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #333333;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

ion-button {
  --box-shadow: none !important;
  --border-width: 1px;
  --border-radius: 5px;
  letter-spacing: -0.5px;
  &[expand="block"] {
    box-sizing: content-box;
    min-height: 30px !important;  
  }
  --color-focused: #ffffff;
  --color-activated: #ffffff;
  &[fill="solid"] {
    color: #ffffff;
  }
  &[fill="outline"] {
    background-color: #ffffff;
  }
  &[size="small"] {
    text-transform: capitalize;
    font-family: roboto;
    font-size: 12px;
    border-radius: 5px;
  }
  height: 40px;
  font-size: 13px;
  --padding-end: 1em;
  --padding-start: 1em;
  &[size="large"] {
    height: 56px;
  }
  &[size="medium"] {
    height: 48px;
  }
  &[size="small"] {
    height: 32px;
  }
  &:disabled, &[disabled] {
    --opacity: .5;
    color: #999999;
    pointer-events: none;
    --border-color: 1px solid #DEDEDE;
  }

}

.med-toast-info {
  --border-radius: 5px;
  font-family: roboto-light;
  font-size: 14px;
  button {
    --ion-font-size: 12px;
    --ion-text-transform: uppercase;
  }
}