/* Font-Family */
@font-face {
    font-family: 'roboto';
    font-display: swap;
    src: url('/assets/fonts/Roboto-Regular.ttf')
        format('truetype');
}
@font-face {
    font-family: 'roboto-light';
    font-display: swap;
    src: url('/assets/fonts/Roboto-Light.ttf')
        format('truetype');
}
@font-face {
    font-family: 'roboto-medium';
    font-display: swap;
    src: url('/assets/fonts/Roboto-Medium.ttf')
        format('truetype');
}
