<ion-content class="take-modal inner-content" *ngIf="medication">
  <ion-grid>
    <ion-row class="content-icon take-modal__top">
      <span
        class="take-modal__top__label__circle"
        [ngClass]="{
          'take-modal__top__label__circle--pending': medication.status === medicationTakeStatus.PENDING,
          'take-modal__top__label__circle--reject': medication.status === medicationTakeStatus.REJECTED,
          'take-modal__top__label__circle--taken': medication.status === medicationTakeStatus.TAKEN
        }"
      >
        <em
          class="take-modal__top__label__circle__icon"
          [ngClass]="{
            'take-modal__top__label__circle__icon--pending icon-bida-medicacion': medication.status === medicationTakeStatus.PENDING,
            'take-modal__top__label__circle__icon--reject icon-remove': medication.status === medicationTakeStatus.REJECTED,
            'take-modal__top__label__circle__icon--taken icon-check': medication.status === medicationTakeStatus.TAKEN
          }"
        ></em>
      </span>
    </ion-row>
    <ion-row>
      <ion-col class="take-modal__title">
        {{ medication.medicationName }}
      </ion-col>
    </ion-row>

    <!-- Detalle de cada una de las tomas previstas -->
    <ion-row class="ion-text-center">
      <ion-col size="10" offset="1" class="ion-no-padding">
        <ion-col size="2" class="ion-text-right ion-no-padding take-modal__clock">
          <ion-icon class="icon-clock-o"></ion-icon>
        </ion-col>
        <ion-col size="4" class="ion-no-padding">
          <span class="take-modal__time">{{ medication.time }}</span>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <span class="take-modal__posology">{{ medication.posology | lowercase }}</span>
        </ion-col>
      </ion-col>
    </ion-row>
    <ion-row class="content-icon take-modal__icon-area" *ngIf="medication.status === medicationTakeStatus.PENDING">
      <em class="icon-bida-vaso-toma content-icon take-modal__icon-area__icon"></em>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="take-modal-footer">
  <ion-buttons>
    <ng-container *ngIf="medication.status === medicationTakeStatus.PENDING">
      <ion-button
        class="take-modal-footer__button take-modal-footer__button--dismiss"
        (click)="toDismiss()"
      >
        <span class="take-modal-footer__button__circle take-modal-footer__button__circle--dismiss">
          <ion-icon class="icon-close"></ion-icon>
        </span>
        {{ 'MY-MEDICATION.MEDICATION-CALENDAR.MODAL.DISMISS' | translate }}
      </ion-button>
      <ion-button
        class="take-modal-footer__button take-modal-footer__button--take"
        (click)="toTake()"
      >
        <span class="take-modal-footer__button__circle take-modal-footer__button__circle--take">
          <ion-icon class="icon-check"></ion-icon>
        </span>
        {{ 'MY-MEDICATION.MEDICATION-CALENDAR.MODAL.TAKE' | translate }}
      </ion-button>
    </ng-container>
    <div
      *ngIf="medication.status === medicationTakeStatus.REJECTED || medication.status === medicationTakeStatus.TAKEN"
      class="take-modal-footer__button take-modal-footer__button--undo"
    >
    <div *ngIf="medication && medication.medicationStatus !== 'eliminado'" class="ion-text-center">
      <ion-button (click)="toDelete()">
        <span 
          class="take-modal-footer__button__circle take-modal-footer__button__circle--undo">
            <ion-icon class="icon-undo"></ion-icon>
        </span>
        <span class="take-modal-footer__button__text">
          {{ 'MY-MEDICATION.MEDICATION-CALENDAR.MODAL.UNDO' | translate }}
        </span>
      </ion-button>
    </div>
    <div  *ngIf="medication && medication.medicationStatus === 'eliminado'" class="ion-text-center">
      <ion-button (click)="toDestroy()">
      <span
      class="take-modal-footer__button__circle take-modal-footer__button__circle--undo">
        <ion-icon class="icon-trash"></ion-icon>
      </span>
      <span class="take-modal-footer__button__text">
        {{ 'MY-MEDICATION.MEDICATION-CALENDAR.MODAL.DELETE' | translate }}
      </span>
      </ion-button>
    </div>
    </div>
  </ion-buttons>
</ion-footer>