.take-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
        height: 100px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        &__label {
          position: relative;
          margin-left: 22px;
          width: 38px;
          &__circle {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: relative;
            &__icon {
              font-size: 21px;
              &--reject {
                  color: #E81A4C;
              }
              &--pending {
                  color: #AB48E5;
              }
              &--taken {
                  color: #41AF51;
              }
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                opacity: .1;
            }
            &--reject {
                &:before {
                    background: #E81A4C;
                  }
            }
            &--pending {
                &:before {
                    background: #AB48E5;
                }
            }
            &--taken {
                &:before {
                    background: #41AF51;
                }
            }
          }
        }
    }
    &__title {
        text-align: center;
        font-size: 20px;
        padding: 15px 0 5px 0
    }
    &__clock {
        font-size: 18px;
        margin-right: 10px;
    }
    &__time {
        font-size: 20px;
        font-family: roboto-medium;
        margin-right: 10px;
    }
    &__posology {
        font-size: 18px;
        font-family: roboto-light;
        color: #999999;
    }
    &__icon-area {
        display: flex;
        justify-content: center;
        padding-top: 34px;
        &__icon {
            font-size: 80px;
            color: #CACACA;
            opacity: 0.45;
        }
    }
}
.take-modal-footer {
    background: #F4F4F4;
    padding: 8px 0;
    &__button {
        text-transform: uppercase;
        font-size: 14px;
        width: 100%;
        height: 40px;
        font-family: roboto-medium;
        position: relative;
        &:nth-child(2n):before {
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            position: absolute;
            width: 1px;
            background-color: #707070;
            opacity: 0.19;
        }
        &--dismiss {
            color: #E81A4C;
        }
        &--take {
            color: #41AF51;
        }
        &--undo {
            color: #008EA4;
            font-size: 15px;
        }
        &__circle {
            margin-right: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            font-size: 13px;
            &--dismiss {
                background: #F7D9E0;
            }
            &--take {
                background:#D4F5D7;
            }
            &--undo {
                background: transparent;
                font-size: 18px;
                color: #54C6D3;
            }
        }
        &__text {
            margin-top: 2px;
        }
    }
}