<div>
  <!-- Skeleton group 1 of 3 -->
  <div
  class="skeleton__container skeleton__first">
    <!-- First row of the skeleton -->
    <ion-row
    class="skeleton__row"
    justify-content-around>
      <ion-col
      size="2">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
      <ion-col
      size="6">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
      <ion-col
      size="1">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
    </ion-row>
    <!-- Second row of the skeleton -->
    <ion-row
    class="skeleton__row"
    justify-content-around>
      <ion-col
      size="2">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
      <ion-col
      size="8">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </div>
  <!-- Skeleton group 2 of 3 -->
  <div
  class="skeleton__container skeleton__second">
    <!-- First row of the skeleton -->
    <ion-row
    class="skeleton__row"
    justify-content-around>
      <ion-col
      size="2">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
      <ion-col
      size="6">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
      <ion-col
      size="1">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
    </ion-row>
    <!-- Second row of the skeleton -->
    <ion-row
    class="skeleton__row"
    justify-content-around>
      <ion-col
      size="2">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
      <ion-col
      size="8">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </div>
  <!-- Skeleton group 3 of 3 -->
  <div
  class="skeleton__container skeleton__third">
    <!-- First row of the skeleton -->
    <ion-row
    class="skeleton__row"
    justify-content-around>
      <ion-col
      size="2">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
      <ion-col
      size="6">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
      <ion-col
      size="1">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
    </ion-row>
    <!-- Second row of the skeleton -->
    <ion-row
    class="skeleton__row"
    justify-content-around>
      <ion-col
      size="2">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
      <ion-col
      size="8">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </div>
</div>