.skeleton__container {
  background: #ffffff;
  margin-bottom: 15px;
  padding: 24px 11px 10px 11px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.12);
  animation: loading-effect 2s ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  opacity: 0.25;
}

.skeleton__second {animation-delay: 0.25s}
.skeleton__third {animation-delay: 0.75s}

@keyframes loading-effect {
  0% {opacity: 0.25}
  50% {opacity: 1}
  100% {opacity: 0.25}
}