// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.ion-color-background {
  --ion-color-base: var(--ion-color-background) !important;
  --ion-color-base-rgb: var(--ion-color-background-rgb) !important;
  --ion-color-contrast: var(--ion-color-background-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-background-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-background-shade) !important;
  --ion-color-tint: var(--ion-color-background-tint) !important;
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white) !important;
  --ion-color-base-rgb: var(--ion-color-white-rgb) !important;
  --ion-color-contrast: var(--ion-color-white-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-white-shade) !important;
  --ion-color-tint: var(--ion-color-white-tint) !important;
}

.ion-color-primaryTabs {
  --ion-color-base: var(--ion-color-primaryTabs) !important;
  --ion-color-base-rgb: var(--ion-color-primaryTabs-rgb) !important;
  --ion-color-contrast: var(--ion-color-primaryTabs-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-primaryTabs-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-primaryTabs-shade) !important;
  --ion-color-tint: var(--ion-color-primaryTabs-tint) !important;
}

// When clicked in download bar info button, prevents the modal from using all the height
.brief-selector-modal .modal-wrapper {
  --max-height: 220px;
  position: absolute;
  bottom: 0;
  // top: 60%;
  // display: block;
}

.top-10 {
  margin-bottom:10px;
}

// same styles but for the modal in which you select from a list of attachments
.attachment-selector-modal .modal-wrapper {
  --max-height: 220px;
  position: absolute;
  bottom: 0;
}