<div class="basics">
  <!-- error screen -->
  <ng-container 
  *ngIf="!isLoading && isError">
    <app-empty-view 
    message="{{ 'COMMON.SERVER-ERROR' | translate }}" cssIconClass="icon-remove" componentHeight="81">
    </app-empty-view>
  </ng-container>
  
  <!-- loading screen -->
  <ng-container
  *ngIf="isLoading">
    <app-skeleton-screen></app-skeleton-screen>
  </ng-container>

  <!-- no data screen -->
  <!-- Consider removing this because this view won't appear -->
  <ng-container 
  *ngIf="!isLoading && !isError && collection.length === 0">
    <app-empty-view 
    message="{{ 'MEDICAL-ASSESSTMENT.NO-CURRENT-ASSESSTMENT' | translate }}" cssIconClass="icon-bida-historia" componentHeight="81">
    </app-empty-view>
  </ng-container>

  <!-- data screen -->
  <ng-container 
  *ngIf="!isLoading && !isError && collection.length > 0">
    <ng-container
    *ngFor="let item of collection">
      <app-single-health-card 
      [item]="item">
      </app-single-health-card>
    </ng-container>
    <ng-container
    *ngIf="vitalSignItems">
      <app-vital-signs [vitalSignsList]="vitalSignItems"></app-vital-signs>
    </ng-container>
  </ng-container>
</div>