<div class="assesments">
  <ion-fab-button
  *ngIf="!isLoading && !isError && assesmentElements != null && serviceTypesCount.size > 1"
  size="small"
  color="primary"
  (click)="filterAssesmentsByType()">
    <ion-icon
    name="list"
    color="white">
    </ion-icon>
  </ion-fab-button>

  <!-- error screen -->
  <ng-container *ngIf="!isLoading && isError">
    <app-empty-view 
    message="{{ 'COMMON.SERVER-ERROR' | translate }}" cssIconClass="icon-remove"
    componentHeight="81">
    </app-empty-view>
  </ng-container>

  <!-- loading screen -->
  <ng-container *ngIf="isLoading">
    <app-skeleton-screen></app-skeleton-screen>
  </ng-container>

  <!-- no data screen -->
  <ng-container 
  *ngIf="!isLoading && !isError && (assesmentElements === null || assesmentElements.length === 0)">
    <app-empty-view 
    message="{{ 'MEDICAL-ASSESSTMENT.NO-CURRENT-ASSESSTMENT' | translate }}" 
    cssIconClass="icon-bida-historia"
    componentHeight="81">
    </app-empty-view>
  </ng-container>

  <!-- data screen -->
  <ng-container *ngIf="!isLoading && !isError && assesmentElements && assesmentElements.length > 0">
    <div *ngFor="let item of assesmentElements">
      <app-single-assesment 
      [medicalAssesment]="item"
      *ngIf="selectedAssesmentElement === null || selectedAssesmentElement === item.serviceType">
      </app-single-assesment>
    </div>
  </ng-container>
</div>