ion-header {background: #ffffff}
ion-content {
  background-color: #F7F7F7;
}

.segment-button-checked {
  background: #fff;
  border-bottom: 2px solid var(--ion-color-primary);
}

.segment {
  ion-segment-button {
    text-transform: initial;
    font-size: 16px;
  }
  ion-label {
    letter-spacing: 0px;
  }
}