<ion-header>
  <ion-toolbar
  mode="md"
  color="primary">
    <ion-buttons 
    slot="start">
      <ion-back-button 
      text="" 
      color="white" 
      icon="arrow-back"
      defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title 
    color="white">{{'MY-APPOINTMENTS.MY-APPOINTMENTS' | translate}}
    </ion-title>
  </ion-toolbar>

  <ion-segment 
  mode="md"
  class="segment"
  [(ngModel)]="selected">
    <ion-segment-button
    value="nextAppointments"
    mode="md"
    checked>
      <ion-label>{{'MY-APPOINTMENTS.MY-NEXTAPPOINTMENTS' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button
    value="pastAppointments"
    mode="md">
      <ion-label>{{'MY-APPOINTMENTS.MY-LASTAPPOINTMENTS' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content no-padding [ngSwitch]="selected">
  <app-next-appointments *ngSwitchCase="'nextAppointments'">
  </app-next-appointments>

  <app-past-appointments *ngSwitchCase="'pastAppointments'">
  </app-past-appointments>
</ion-content>
