@import '../../../theme/common-styles.scss';

.single__asessment {
  @extend .bidafarma__card;
  padding: 0;
  &__logo {
    font-size: 24px;
    color: #54C6D3;
  }
  &__text {
    padding-left: 0;
    .text {
      margin: 0 0 5px 0;
      font-size: 16px;
      font-weight: 500;
    }
    .details {
      margin: 0;
      font-size: 13px;
      color: #999999;
    }
  }
  &__more {
    font-size: 32px;
    color: #54C6D3;
  }
}