<div
class="single__asessment">
  <ion-grid>
    <ion-row
    (click)="toggleDownloadBar()">
      <ion-col
      size="2"
      text-center
      align-self-center
      class="ion-no-padding">
        <span
        class="single__asessment__logo icon-bida-farma">
        </span>
      </ion-col>
      <ion-col
      size="8"
      class="single__asessment__text">
        <p 
        class="text">
          {{ medicalAssesment.healthCenter }}
        </p>
        <p 
        class="details">
          {{ medicalAssesment.date | date: 'dd/MM/yyyy' }} - {{ medicalAssesment.serviceType }}
        </p>
      </ion-col>
      <ion-col
      size="2"
      text-center
      align-self-center
      class="single__asessment__more">
        <ion-icon
        name="more"
        ios="md-more">
        </ion-icon>
      </ion-col>
    </ion-row>
    <ion-row
    class="single__asessment__download-bar"
    *ngIf="downloadBarVisible">
      <ion-col
      size="4"
      offset="4">
        <app-download-bar 
        [data]="downloadBarData" 
        [isLoading]="isDownloadBarLoading" 
        [isError]="isDownloadBarError">
        </app-download-bar>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>