// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import 'theme/fonts.scss';
@import 'theme/bida-fuente.scss';
@import 'theme/common-styles.scss';
* {
    font-family: roboto;
}

body {
    background-color: var(--ion-color-primary);
    --ion-font-family: roboto;
}

ion-app {
    /* Status bar height on iOS 11.0 */
    margin-top: constant(safe-area-inset-top);
    /* Status bar height on iOS 11+ */
    margin-top: env(safe-area-inset-top);
}