<ion-header>
  <ion-toolbar
  mode="md"
  color="primary">
    <ion-buttons 
    slot="start">
      <ion-button
      (click)="closeModal()">
        <ion-icon
        name="close"
        color="white">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title 
    color="white">{{'MEDICAL-ASSESSTMENT.ATTACHMENT' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
padding>
  <ion-grid>
    <ion-row>
      <ion-col
      class="ion-no-padding attachment-viewer_img"
      size="12">
        <img [src]=imageSrc/>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
      size="5"
      offset="7"
      class="ion-no-padding ion-text-right ion-align-self-center">
        <ion-text
        color="primary"
        class="attachment-viewer_share-btn"
        (click)="onShareButtonClicked()">
          <span><i class="icon-share-alt attachment-viewer_icon"></i></span>
          <span> {{ 'MEDICAL-ASSESSTMENT.ATTACHMENT-VIEWER-MODAL.SHARE-BTN' | translate }} </span>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>