.attachment-viewer_img {
  margin-bottom: 10px;
}

.attachment-viewer_share-btn {
  display: flex;
  justify-content: flex-end;
  .attachment-viewer_icon {
    font-size: 20px;
    margin-right: 10px;
  }
}