<div class="overview">
  <!-- Loading screen -->
  <ng-container *ngIf="isLoading">
    <app-skeleton-screen></app-skeleton-screen>
  </ng-container>
  
  <!-- Empty screen -->
  <div *ngIf="!isLoading && medicines && medicines.length === 0">
    <app-empty-view
    message="{{ 'MY-MEDICATION.NO-CURRENT-MEDS' | translate }}"
    cssIconClass="icon-bida-medicacion"
    componentHeight="81">
    </app-empty-view>
  </div>

  <!-- Content screen -->
  <!-- Selectable upper row of buttons -->
  <ion-grid
  class="filter-row"
  *ngIf="!isLoading && medicines && medicines.length > 0">
    <ion-row class="filter-row__cols">
      <ion-col 
      *ngFor= "let button of filterButtons"
      class="ion-no-padding ion-text-center">
        <ion-button
          fill="{{ filter === button.filterTag ? 'solid' : 'outline' }}"
          size="small"
          expand="block"
          class="filter-btn"
          (click)="toggleFilter(button.filterTag)"
        >
          {{ button.label }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Medicines content for medicines -->
  <div *ngIf="!isLoading && medicines && medicines.length > 0">
    <ng-container
    *ngFor="let medicine of medicines">
      <app-single-med-card
        *ngIf="filter === null ||  medicine.textStatus === filter"
        [medItem]="medicine"
        (switchOff)="switchOffReminders($event)"
        (switchOn)="switchOnReminders($event)"
        (showModal)="showMedicationDetailsInModal($event)"
      ></app-single-med-card>
    </ng-container>


  </div>

  <!-- Appears if none of the medicines matches the value selected in the filter -->
  <div *ngIf="!isLoading && filteredMedicinesArr && filteredMedicinesArr.length === 0 && filter !== null">
    <app-empty-view
    message="{{ 'MY-MEDICATION.NO-CURRENT-MEDS' | translate }}"
    cssIconClass="icon-bida-medicacion"
    componentHeight="60">
    </app-empty-view>
  </div>

</div>