.overview {
  padding-top: 15px;
  background: #F7F7F7;
  min-height: 100%;
}

.filter-row {
  margin-bottom: 10px;
  &__cols {
    display: flex;
    flex-wrap: nowrap;
  }
}
.filter-btn {
  text-transform: capitalize;
}

ion-button {
  &[size="small"] {
    text-transform: capitalize;
    font-family: roboto;
    font-size: 12px;
    border-radius: 5px;
    --padding-end: 3px;
    --padding-start: 3px;
  }
}