<div class="single-health-card">
  <ion-grid>
    <ion-row class="single-health-card__header">
      <ion-col
      size="2">
        <div
        class="single-health-card__icon"
        [style.background-color]="item.cssBackgroundColor">
          <span
          class="{{ item.cssClassIcon }}"
          [style.color]="item.cssIconColor">
          </span>
        </div>
      </ion-col>
      <ion-col
      size="10"
      class="single-health-card__title">
        <p 
        class="category">
          {{ item.category | titlecase }}
        </p>
        <span
        class="updated"
        *ngIf="item.details.length != 0">
          ({{ 'COMMON.LAST-UPDATE' | translate }} {{ formatDate(item.lastUpdated) }})
        </span>
    </ion-col>
    </ion-row>

    <ion-row 
    class="single-health-card__details">
      <ion-col
      size="12">
        <ng-container *ngIf="item.details.length === 0">
          <ion-text
          class="no-data-text">
            {{ 'COMMON.NO-DATA' | translate }}
          </ion-text>
        </ng-container>
        <ng-container *ngIf="item.details.length > 0">
          <span *ngFor="let element of item.details">{{ element }}</span>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
