@import '../../../theme/common-styles.scss';

.single-health-card {
  @extend .bidafarma__card;
  padding: 20px 16px 10px 16px;
}

.single-health-card__header {
  border-bottom: 1px solid rgba(204, 204, 204, 0.6)
}
.single-health-card__icon {
  width: 40px;
  height: 40px;
  background: rgba(47, 165, 226, 0.1);
  border-radius: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 22px;
}

.single-health-card__title {
  p, span {margin: 0}
  margin-bottom: 5px;
  .category {
    font-weight: 300;
    font-size: 20px;
  }
  .updated {
    font-size: 12px;
    color: rgb(153, 153, 153);
  }
}

.single-health-card__details {
  padding-top: 5px;
  font-size: 14px;
  span {
    display:block;
    font-size: 16px;
    margin-bottom: 4px;
  }
  .no-data-text {
    font-style: italic;
    color: #999999;
  }
}