<ion-header>
    <div class="header">
        <div class="header__logo">
            <img src="/assets/images/logo/logo.svg">
        </div>
        <div>
            <img src="/assets/images/logo/logo_txt.svg">
        </div>
    </div>
</ion-header>


<ion-content padding class="menu">
    <ion-grid>
        <!-- Mis citas -->
        <ion-row>
            <ion-col size="2">
                <div class="menu__icon menu__citas">
                    <span class="icon-bida-agenda icon-bida">
          </span>
                </div>
            </ion-col>
            <ion-col size="10" class="menu__title">
                <span class="menu__title__text">{{ 'HOMEPAGE.MY-APPOINTMENTS' | translate }}</span>
            </ion-col>
        </ion-row>
        <!-- Subcategorías -->
        <ion-row>
            <ion-col size="2">
            </ion-col>
            <ion-col size="10">
                <div class="menu__item ion-no-padding" [routerLink]="'/appointments/nextAppointments/'" routerDirection="forward" detail="false">
                    <span class="subtitle">
            {{ 'HOMEPAGE.UPCOMING' | translate }}
          </span>
                    <ion-icon name="arrow-forward" md="ios-arrow-forward" slot="end">
                    </ion-icon>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
            </ion-col>
            <ion-col size="10">
                <div class="menu__item ion-no-padding" [routerLink]="'/appointments/pastAppointments/'" routerDirection="forward" detail="false">
                    <ion-label class="subtitle">
                        {{ 'HOMEPAGE.PAST' | translate }}
                    </ion-label>
                    <ion-icon name="arrow-forward" md="ios-arrow-forward" slot="end">
                    </ion-icon>
                </div>
            </ion-col>
        </ion-row>

        <!-- Mi historia -->
        <ion-row class="row-with-top-padding">
            <ion-col size="2">
                <div class="menu__icon menu__historia">
                    <span class="icon-bida-historia icon-bida">
        </span>
                </div>
            </ion-col>
            <ion-col size="10" class="menu__title">
                <span class="menu__title__text">{{ 'HOMEPAGE.MY-HISTORY' | translate }}</span>
            </ion-col>
        </ion-row>
        <!-- Subcategorías -->
        <ion-row>
            <ion-col size="2">
            </ion-col>
            <ion-col size="10">
                <div class="menu__item ion-no-padding" [routerLink]="'/history/medicalAssessments/'" routerDirection="forward" detail="false">
                    <span class="subtitle">
            {{ 'HOMEPAGE.VALUATIONS' | translate }}
          </span>
                    <ion-icon name="arrow-forward" md="ios-arrow-forward" slot="end">
                    </ion-icon>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
            </ion-col>
            <ion-col size="10">
                <div class="menu__item ion-no-padding" [routerLink]="'/history/basicData/'" routerDirection="forward" detail="false">
                    <span class="subtitle">
            {{ 'HOMEPAGE.BASIC-INFO' | translate }}
          </span>
                    <ion-icon name="arrow-forward" md="ios-arrow-forward" slot="end">
                    </ion-icon>
                </div>
            </ion-col>
        </ion-row>

        <!-- Mi medicación -->
        <ion-row class="row-with-top-padding">
            <ion-col size="2">
                <div class="menu__icon menu__medicacion">
                    <span class="icon-bida-medicacion icon-bida">
          </span>
                </div>
            </ion-col>
            <ion-col size="10" class="menu__title">
                <span class="menu__title__text">{{ 'HOMEPAGE.MY-MEDS' | translate }}</span>
            </ion-col>
        </ion-row>
        <!-- Subcategorías -->
        <ion-row>
            <ion-col size="2">
            </ion-col>
            <ion-col size="10">
                <div class="menu__item ion-no-padding" [routerLink]="'/my-medication/overview'" routerDirection="forward" detail="false">
                    <span class="subtitle">
            {{ 'HOMEPAGE.MEDS-CALENDAR' | translate }}
          </span>
                    <ion-icon name="arrow-forward" md="ios-arrow-forward" slot="end">
                    </ion-icon>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
            </ion-col>
            <ion-col size="10">
                <div class="menu__item ion-no-padding" [routerLink]="'/my-medication/reminders'" routerDirection="forward" detail="false">
                    <span class="subtitle">
            {{ 'HOMEPAGE.REMINDERS' | translate }}
          </span>
                    <ion-icon name="arrow-forward" md="ios-arrow-forward" slot="end">
                    </ion-icon>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<!-- Logout and app info -->
<ion-footer class="logout__footer">
    <ion-grid no-padding>
        <ion-row>
            <ion-col no-padding size="12">
                <ion-button (click)="onLogoutButtonClicked()" expand="full">
                    <ion-icon name="power" color="white" slot="start">
                    </ion-icon>
                    {{ 'HOMEPAGE.LOGOUT' | translate }}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>