.header {
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient( to bottom, #54C6D3 45%, #FFFFFF 45%);
}

ion-content {
    --offset-top: 1px !important;
}

.header {
    margin-top: 5px;
    .header__logo {
        width: 95px;
        height: 95px;
        border-radius: 50%;
        box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menu {
    padding-top: 32px;
    &__title {
        height: 43px;
        line-height: 43px;
        font-weight: 300;
        font-size: 22px;
        letter-spacing: 0.6px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 300;
        &__text {
            font-family: roboto-light;
            color: var(--ion-color-primary-contrast);
            opacity: .6;
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid #EAEAEA;
        height: 25px;
        padding-right: 10px;
        font-size: 15px;
        color: #999999;
    }
    &__item:focus {
        outline: none;
    }
    // Styles for every ball with background and icon
    &__icon {
        height: 43px;
        width: 43px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__citas {
        background: rgba(47, 165, 226, 0.1);
        color: #2FA5E2;
    }
    &__historia {
        background: rgba(253, 141, 154, 0.07);
        color: #FD8D9A;
    }
    &__medicacion {
        background: rgba(171, 72, 229, 0.07);
        color: #AB48E5;
    }
    .icon-bida {
        font-size: 22px;
        padding-bottom: 3px;
    }
}

.logout-card {
    margin-top: 25px;
}

// Parches
ion-label.subtitle {
    color: #999999;
    font-size: 15px;
}

ion-icon {
    color: #999999;
}

.row-with-top-padding {
    padding-top: 25px;
}

.logout__footer {
    ion-button {
        text-transform: initial;
        margin: 0;
        height: 60px;
        color: white;
        font-size: 18px;
        letter-spacing: 0px;
    }
}