<ion-content>
  <div class="register__container">
    <form
      class="register__form"
      autocomplete="off"
      [formGroup]="registerForm"
    >
      <h5 text-center>{{ 'REGISTER.REQUEST-REGISTRY' | translate }}</h5>
      <!-- Campo para el nombre de usuario / email -->
      <div class="register__form__field">
        <ion-input 
          formControlName="mail"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="none"
          spellcheck="false"
          placeholder="{{ 'COMMON.USERNAME' | translate }}">
        </ion-input>
      </div>
      <!-- Error para el campo del usuario/email -->
      <div>
        <ng-container *ngFor="let error of errorMessages.mail">
          <div *ngIf="registerForm.get('mail').hasError(error.type) && (registerForm.get('mail').dirty || registerForm.get('mail').touched)">
            <small class="register__form__error">{{error.message}}</small>
          </div>
        </ng-container>
      </div>
      <!-- Campo para la contraseña -->
      <div class="register__form__field">
        <ion-item
          class="form_input"
          details="false" lines="none"
        >
          <input
            formControlName="password"
            autocomplete="new-password"
            autocorrect="off"
            autocapitalize="none"
            spellcheck="false"
            placeholder="{{ 'COMMON.PASSWORD' | translate }}"
            [type]="passwordIsVisible ? 'text' : 'password'"
          />
            <ion-icon
              slot="end"
              class="icon-eye1 form_input__icon"
              [ngClass]="{
                'icon-eye': this.passwordIsVisible,
                'icon-eye-slash1': !this.passwordIsVisible
              }"
              (click)="this.passwordIsVisible = !this.passwordIsVisible"
            >
            </ion-icon>
        </ion-item>
        <!-- <ion-input 
          formControlName="password"
          autocomplete="new-password"
          autocorrect="off"
          autocapitalize="none"
          spellcheck="false"
          placeholder="{{ 'COMMON.PASSWORD' | translate }}" 
          type="password">
        </ion-input> -->
      </div>
      <!-- Error para el campo de la contraseña -->
      <div>
        <ng-container *ngFor="let error of errorMessages.password">
          <div *ngIf="registerForm.get('password').hasError(error.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
            <small class="register__form__error">{{error.message}}</small>
          </div>
        </ng-container> 
      </div>

      <!-- Campo para aceptar las condiciones legales -->
      <div class="register__form__checkbox">
        <ion-checkbox
        formControlName="checkbox"
        slot="start" 
        color="secondary">
        </ion-checkbox>
        <ion-label class="size-1">
            {{ 'REGISTER.CHECKBOX-TEXT' | translate }} <a target="blank" href="https://www.prevencionesbida.es/web/prevencion/privacidad" class="border-white"> {{ ('REGISTER.POLITICA-PRIVACIDAD' | translate) }}</a>
        </ion-label>
      </div>
    </form>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col
          size="6"
          offset="1">
            <ion-text
            color="white"
            class="login__user-switcher"
            [routerLink]="'/login'"
            routerDirection="backward">
              {{ 'REGISTER.ALREADY-REGISTERED' | translate }}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer 
class="register__footer">
  <ion-button
  (click)="launchRegister()"
  [disabled]="!registerForm.valid" 
  routerDirection="root"
  expand="full">{{ 'REGISTER.CONFIRM' | translate }}
  </ion-button>
</ion-footer>
