ion-content {
    --overflow: hidden
}

.size-16 {
    font-size: 16px;
}

.register__container {
    height: 100vh;
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.border-white {
    color: #1197AC;
    text-decoration: underline;
    text-decoration-color: #1197AC;
    font-weight: bold;
}

form.register__form {
    padding-top: 60px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    .register__form__field {
        color: #333333;
        background-color: rgba(255, 255, 255, 0.7);
        width: 100%;
        text-align: center;
        margin-top: 16px;
        border-radius: 3px;
        ion-input {
            height: 46px;
        }
    }
    .register__form__error {
        color: #000000;
        font-weight: 500;
    }
    .register__form__checkbox {
        padding-top: 15px;
        font-size: 14px;
        display: flex;
        align-items: center;
        ion-checkbox {
            margin-right: 10px
        }
    }
}

ion-input {
    --padding-start: 0px
}

.register__footer {
    ion-button {
        text-transform: capitalize;
        margin: 0;
        height: 60px;
        color: white;
        font-size: 20px;
    }
}

.form_input,
.form_input input {
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
    font-size: 15px;
    width: 100%;
    height: 48px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}

.form_input {
    &__icon {
      position: absolute;
      right: 10px;
      color: #008EA4;
      font-size: 19px;
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
    }
}

ion-item {
    --padding-start: 0px;
    --ion-background-color: transparent;
}