.medication-details-modal {
  &__header {
    height: 49px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #EAEAEA;
    &__med-name {
      padding-left: 8px;
    }
  }
  &__content {
    padding-top: 30px;
    .content-icon {
      margin-bottom: 35px;
      ion-col {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .medication-icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &--active {
          background-color: rgba(254, 170, 13, 0.1)
        }
        &--inactive {
          background-color: rgba(202, 202, 202, 0.1);
        }
      }
      .medication-text {
        font-weight: 600;
        margin: 10px 0 0 0;
        font-size: 25px;
        white-space: nowrap;
        &--active {
          color: rgba(254, 170, 13, 1);
        }
        &--inactive {
          color: rgba(202, 202, 202, 0.7)
        }
      }
    }
    .content-dates {
      margin-bottom: 48px;
      &__text {
        font-family: roboto-light;
        font-size: 15px;
        color: #333333;
        margin: 0 0 4px 0;
      }
    }
    .content-tomas {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      &__icon {
        margin-right: 10px;
        font-size: 19px;
        margin-bottom: 1px;
        i {
          font-size: 20px;
          margin-right: 0;
          color: #333333;
          opacity: 0.8;
        }
      }
      &__time {
        margin-right: 20px;
        font-size: 18px;
        font-weight: medium;
      }
      &__posology {
        font-family: roboto-light;
        font-size: 18px;
        color: #999999;
        font-weight: 300;
      }
    }
  }

  .icon-bell, .icon-bell-slash {
    opacity: 0.3;
    font-size: 25px;
  }
  .yellow-bell {
    opacity: 1;
    color: rgba(254, 170, 13, 1);
  }
}

