<ion-header>
  <ion-toolbar
  mode="md"
  color="primary">
    <ion-buttons 
    slot="start">
      <ion-button
      (click)="closeModal()">
        <ion-icon
        name="close"
        color="white">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title 
    color="white">{{'MY-MEDICATION.MODAL.TOOLBAR' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="medication-details-modal">
  <div class="medication-details-modal__header">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <p class="ion-no-margin medication-details-modal__header__med-name">{{ medicationDetails.name | uppercase }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="medication-details-modal__content">
    <ion-grid>
      <!-- Primera línea con el icono de la campana y el estado del recordatorio -->
      <ion-row class="content-icon">
        <ion-col
        size="6"
        offset="3"
        class="ion-text-center">
        <!-- Different icons for different medicine statuses -->
          <div 
          class="medication-icon medication-icon--active"
          *ngIf="medicationDetails.textStatus === medicationState.ACTIVO">
            <i class="icon-bell yellow-bell"></i>
          </div>
          <div
            class="medication-icon medication-icon--inactive" *ngIf="
              medicationDetails.textStatus === medicationState.FINALIZADO ||
              medicationDetails.textStatus === medicationState.SUSPENDIDO ||
              medicationDetails.textStatus === medicationState.SIN_RECORDATORIO
          ">
            <i class="icon-bell-slash"></i>
          </div>
          <h4 
          class="medication-text"
          [ngClass]="{
            'medication-text--active': medicationDetails.textStatus === medicationState.ACTIVO,
            'medication-text--inactive':
              medicationDetails.textStatus === medicationState.FINALIZADO ||
              medicationDetails.textStatus === medicationState.SIN_RECORDATORIO ||
              medicationDetails.textStatus === medicationState.SUSPENDIDO
          }" [ngSwitch]="medicationDetails.textStatus">
            <ng-container *ngSwitchCase="medicationState.ACTIVO">{{ 'MY-MEDICATION.ACTIVE' | translate }}</ng-container>
            <ng-container *ngSwitchCase="medicationState.FINALIZADO">{{ 'MY-MEDICATION.FINALIZED' | translate }}</ng-container>
            <ng-container *ngSwitchCase="medicationState.SIN_RECORDATORIO">{{ 'MY-MEDICATION.NO_REMINDER' | translate }}</ng-container>
            <ng-container *ngSwitchCase="medicationState.SUSPENDIDO">{{ 'MY-MEDICATION.SUSPENDED' | translate }}</ng-container>
          </h4>
        </ion-col>
      </ion-row>

      <!-- Línea con la periodicidad de la medicación y la fecha de inicio y final -->
      <ion-row class="content-dates">
        <ion-col
        class="ion-no-padding"
        size="10"
        offset="1">
          <ion-text>
            <p class="ion-text-center content-dates__text" *ngIf="medicationDetails.startDate">
              {{'MY-MEDICATION.MODAL.INIT' | translate}}: {{ medicationDetails.startDate | date:'dd/MM/yyyy' }}
              <ng-container *ngIf="medicationDetails.endDate">
                - {{'MY-MEDICATION.MODAL.END' | translate}}: {{ medicationDetails.endDate | date:'dd/MM/yyyy' }}
              </ng-container>
            </p>
            <p class="ion-text-center content-dates__text">{{ medicationDetails.frequencyString }}</p>
          </ion-text>
        </ion-col>
      </ion-row>

      <!-- Detalle de cada una de las tomas previstas -->
      <ion-row 
      class="content-tomas ion-text-center"
      *ngFor="let take of medicationDetails.takes">
          <i class="icon-clock-o content-tomas__icon"></i>
          <span class="content-tomas__time">{{take.time}}</span>
          <span class="content-tomas__posology">{{ take.posology | lowercase }}</span>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>