<ion-content
padding
class="attachment-selector-modal">
  <ion-grid>
    <ion-row
    class="attachment-selector-modal__header">
      <ion-col
      size="11">
        <h5>{{ 'MEDICAL-ASSESSTMENT.ATTACHMENT-SELECTOR-MODAL.TITLE' | translate }}</h5>
      </ion-col>
    </ion-row>
    <ion-row
    class="ion-no-padding attachment-selector-modal__content"
    *ngFor="let attachment of attachmentList">
      <ion-col
      (click)="downloadAttachment(attachment)"
      size="11"
      class="attachment-selector-modal__text">
        <p>{{attachment.fileName}}.{{attachment.fileExtension}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>