.attachment-selector-modal {
  h5 {
    color: #008EA4;
    font-size: 20px;
    margin: 5px 0;
    margin-bottom: 10px;
    padding-left: 5px;
  }
  &__text {
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    p {
      color: rgba(51, 51, 51, 1);
      margin-bottom: 8px;
      font-size: 15px;
      padding-left: 5px;
    }
    small {
      font-size: 12px;
      margin-bottom: 5px;
      color: rgba(153, 153, 153, 1);
      padding-left: 5px;
    }
  }
} 